
main.main-content
  .hero
    .bg.banner1
      h1 CDN自建方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='/a/solution/YHCDN/')
          span.icon-72.icon-cdn-merge
          sapn.text 融合CDN
      li
        a(href='/a/solution/ZJCDN_NW/')
          span.icon-72.icon-cdn-inner-network
          sapn.text 内网自建CDN
      li
        a(href='/a/solution/ZJCDN_IDC/')
          span.icon-72.icon-cdn-idc-corp
          sapn.text IDC企业自建CDN
      li
        a.current(href='/a/solution/create_cdn/')
          span.icon-72.icon-cdn-self-build
          sapn.text 互联网企业自建
  .wrapper
    .title
      h2 互联网企业自建
      p
        | 越来越多的中型及大型互联网公司为了提升广泛分布的客户体验，开始部署企业的专属CDN系统。自建CDN可充分满足互联网企业自身业务的分发加速需求。 基于传统第三方开源软件的系统开发耗费大量成本，同时受软件本身的架构影响，系统可承载的并发数及吞吐量均会产生瓶颈。北京快网根据互联网企业的特点，为中型及大型互联网企业推出自建CDN解决方案。
    .solution
      h3 解决方案特点
      p
        img(src='', alt='')
      p
        | 1. 根据客户加速类型提供内存版和硬盘版Fastcache缓存系统，比开源Squid等系统性能高3-8倍；
        br
        br
        br
    .benefit
      h3 方案优势
      img(src='/images/solution/advantage-bg.png', alt='')
      div
        | 1. 采用快网成熟的商业软件，具有快速部署的特点，可大幅缩短方案部署周期；
        br
        br
        br
  .blank

.overlay
