
main.main-content
  .hero
    .bg.banner1
      h1 CDN自建方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='../YHCDN/')
          span.icon-56.icon-cdn-merge
          sapn.text 融合CDN
      li
        a(href='../ZJCDN_NW/')
          span.icon-56.icon-cdn-inner-network
          sapn.text 内网自建CDN
      li
        a(href='../ZJCDN_IDC/')
          span.icon-56.icon-cdn-idc-corp
          sapn.text IDC企业自建CDN
      li
        a.current(href='../create_cdn/')
          span.icon-56.icon-cdn-self-build
          sapn.text 互联网企业自建
  .wrapper
    .title
      h2 互联网企业自建
      p
        | 越来越多的中型及大型互联网公司为了提升广泛分布的客户体验，开始部署企业的专属CDN系统。自建CDN可充分满足互联网企业自身业务的分发加速需求。 基于传统第三方开源软件的系统开发耗费大量成本，同时受软件本身的架构影响，系统可承载的并发数及吞吐量均会产生瓶颈。北京快网根据互联网企业的特点，为中型及大型互联网企业推出自建CDN解决方案。
    .solution
      h3 解决方案特点
      .img
        img(src='#{root_path}images/solution/BerrterZJCDN.png', alt='')
      ol
        li 1. 根据客户加速类型提供内存版和硬盘版Fastcache缓存系统，比开源Squid等系统性能高3-8倍；
        li 2. 提供自建全套的CDN系统模块，包括缓存系统、调度系统、管理系统、监控系统等，客户可根据自身需求灵活选择;
        li 3. 提供静态类、下载类、音视频点播类、直播类加速模块及Fastreport深度分析报表等增值服务；
        li 4. 权限可一次交付，满足对私密信息的掌控权，保证了信息的绝对独立和不外流；
    .benefit
      h3 方案优势
      img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
      ol
        li 1. 采用快网成熟的商业软件，具有快速部署的特点，可大幅缩短方案部署周期；
        li 2. 提供完整的售前、售中及售后支持，可开展完善的系统及运维技术培训；
        li 3. 7*24小时客户服务实时保障问题在第一时间得到响应及解决；
        li 4. 系统具备良好的兼容性，可与各类运营管理系统无缝对接。
  .blank
