
main.main-content
  .hero
    .bg.banner3
      h1 行业解决方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='/a/solution/game/')
          span.icon-72.icon-game
          sapn.text 游戏加速
      li
        a(href='/a/solution/video/')
          span.icon-72.icon-live
          sapn.text 互动直播加速
      li
        a.current(href='/a/solution/e_commerce/')
          span.icon-72.icon-ec
          sapn.text 电商加速
      li
        a(href='/a/solution/OTTTV/')
          span.icon-72.icon-ott
          sapn.text 互连网电视加速
      li
        a(href='/a/solution/ALL/')
          span.icon-72.icon-all-site
          sapn.text 全站加速
      li
        a(href='http://fwmob.fastweb.com.cn/', target='_blank')
          span.icon-72.icon-mobile
          sapn.text 移动互连网加速
  .wrapper
    .title
      h2 EC 电商加速解决方案
      p
        | 电子商务无疑是2010年新经济领域最具有活力的行业，许多的传统企业纷纷进军电子商务就是一个最好的佐证。电子商务企业面临的问题：如何保证向数以百万计的活跃用户提供完美的访问体验，改善客户在线体验质量从而影响客户对品牌的整体看法，保证客户的活跃度和粘合度？
    .solution
      h3 解决方案
      p
        img(src='#{root_path}', alt='')
      p
        | 1、运用FastCache技术针对网站静态内容进行加速，加快网站服务响应并节省运营成本；
        br
        | 2、运用FastDynamic技术和其他差分技术实现对动态数据的加速，加快动态数据交互效果；
        br
        | 3、自主开发的防盗链技术，保护内容版权和网站利益，避免带宽的浪费；
        br
        | 4、严密的安全系统保证用户数据的安全；
    .benefit
      h3 客户收益
      img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
      div
        | 1、提高网站访问的加载速度，降低网站的购买放弃率，大幅增加销售收入；
        br
        | 2、无须为应对特殊日期购物而增加基础性投入，保证突发的访问效果；
        br
        | 3、节省基础投入和运维成本；
        br
        | 4、根据网民访问热点和时间的数据，协助网站分析用户行为；
  .blank
