doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content='CDN,CDN网络加速,网站加速,CDN价格,负载均衡,CDN服务,CDN加速服务,自建CDN,CDN排名,cdn加速,网页加速,CDN技术,海外加速,网络加速,应用加速,CDN海外加速,cdn解决方案,CDN加速效果,流媒体点播加速')
    meta(name='description', content='北京快网—专业的云计算CDN网站加速服务提供商_致力于CDN网站加速,CDN海外加速,CDN网络节点部署！提供全方位CDN加速方案:包括CDN动静态加速,CDN下载加速,CDN音视频点直播加速.在全球首次提出基于云计算技术的CloudCDN理念,与CloudTCP,CloudXNS两产品组合,让DNS解析更准,CDN分发更近,TCP传输更快.成而大幅提升网站访问速度及稳定性.')
    title 北京快网CDN—专业领先的CDN,CDN加速,CDN技术,网站加速,云加速,云计算加速,云计算CDN加速服务提供商
    link(rel='icon', type='image/png', href='./images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/vendor/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/solution.css')
    script(src='/scripts/vendor/modernizr.js')
  body.nav-is-fixed
    header.main-header
      .header-inner
        a.logo(href='#0')
          img(src='/images/brand-logo.svg', alt='Logo')
        nav.nav
          ul#cd-primary-nav.primary-nav
            li.primary-nav-item.nav-solution
              a(href='javascript:;')
                span.t-text 解决
                span.b-text 方案
              // secondary-nav
              // defaule .is-hidden
              nav.secondary-nav-wrapper.is-hidden
                ul.secondary-nav
                  .tab
                    .slider-nav
                      nav
                        span.marker
                        ul
                          li.slider-nav-item.selected
                            a(href='#0') 行业解决方案
                          li.slider-nav-item
                            a(href='#0') 自建解方案
                          li.slider-nav-item
                            a(href='#0') 营运商解决方案
                    nav
                      ul.tab-slider
                        li.selected
                          ul.nav-solution-item
                            li
                              a(href='javascript:;')
                                span.icon-64.icon-ec
                                sapn.text 电商加速
                            li
                              a(href='javascript:;')
                                span.icon-64.icon-all-site
                                sapn.text 全站加速
                            li
                              a(href='javascript:;')
                                span.icon-64.icon-game
                                sapn.text 游戏加速
                            li
                              a(href='javascript:;')
                                span.icon-64.icon-live
                                sapn.text 互动直播加速
                            li
                              a(href='javascript:;')
                                span.icon-64.icon-ott
                                sapn.text 互连网电视加速
                            li
                              a(href='javascript:;')
                                span.icon-64.icon-mobile
                                sapn.text 移动互连网加速
                        li
                          ul.nav-solution-item
                            li
                              a(href='javascript:;')
                                span.icon-64.icon-cdn-merge
                                span.text 融合CDN
                            li
                              a(href='javascript:;')
                                span.icon-64.icon-cdn-inner-network
                                span.text 内网自建CDN
                            li
                              a(href='javascript:;')
                                span.icon-64.icon-cdn-idc-corp
                                span.text IDC企业自建CDN
                            li
                              a(href='javascript:;')
                                span.icon-64.icon-cdn-self-build
                                span.text 互连网企业自建
                        li
                          ul.nav-solution-item
                            li
                              a(href='javascript:;')
                                span.icon-64.icon-operator-speed
                                span.text 内容加速方案
                            li
                              a(href='javascript:;')
                                span.icon-64.icon-operator-content
                                span.text 内容引入方案
            li.primary-nav-item.nav-product
              a(href='javascript:;')
                span.t-text 产品
                span.b-text 服务
              // secondary-nav
              nav.secondary-nav-wrapper.is-hidden
                ul.secondary-nav
                  li.nav-product-item.cloudcdn
                    .left-col
                      h3.nav-product-item-sprite.nav-product-item-cloudcdn CloudCDN
                      p.description 北京快网在全世界首次提出基于云计算技术的CloudCDN理念，并自主开发了一系列的CDN软件服务(SAAS)技术。
                    ul.right-col
                      li.cloudcdn-item
                        a.fastpage(href='javascript:;')
                          span.icon-48.icon-fastpage
                          span.text 网页加速
                      li.cloudcdn-item
                        a.fastlive(href='javascript:;')
                          span.icon-48.icon-fastlive
                          span.text 直播加速
                      li.cloudcdn-item
                        a.fastvod(href='javascript:;')
                          span.icon-48.icon-fastvod
                          span.text 点播加速
                      li.cloudcdn-item
                        a.fastdownload(href='javascript:;')
                          span.icon-48.icon-fastdownload
                          span.text 下载加速
                      li.cloudcdn-item
                        a.fastoversea(href='javascript:;')
                          span.icon-48.icon-fastoversea
                          span.text 海外加速
                      li.cloudcdn-item
                        a.faststorage(href='javascript:;')
                          span.icon-48.icon-faststorage
                          span.text 储存服务
                      li.cloudcdn-item
                        a.fastmonitor(href='javascript:;')
                          span.icon-48.icon-fastmonitor
                          span.text 监控服务
                      li.cloudcdn-item
                        a.fastreport(href='javascript:;')
                          span.icon-48.icon-fastreport
                          span.text 日志分析
                  li.nav-product-item.cloudxns
                    a.nav-item(href='javascript:;')
                      h3.nav-product-item-sprite.nav-product-item-logo-cloudxns CloudXNS
                      p.description CloudXNS是在传统DNS系统上加入策略解析后的高级智能DNS系统，解析速度比传统DNS快两到三倍，可做到实时生效。
                  li.nav-product-item.newdefend
                    a.nav-item(href='javascript:;')
                      h3.nav-product-item-sprite.nav-product-item-logo-newdefend 牛盾云安全
                      p.description 牛盾云加速在”零部署”，”零维护“的情况下，极大提高网站访问速度，防止注入XSS，sql注入，蠕虫，木马，0day攻击，DDOS等问题。
                  li.nav-product-item.more
                    .left-col
                      h3.nav-product-item-sprite.nav-product-item-more More
                      p.description 其他产品也提供完善的服務，北京快网经验丰富的运维团队，提供最优质领先的云加速服务保障。
                    .right-col
                      ul
                        li
                          a(href='javascript:;')
                            span.text Cloud DIY
                            span.icon-64.icon-cloud-diy
                          a(href='javascript:;')
                            span.text Cloud CACHE
                            span.icon-64.icon-cloud-chache
                          a(href='javascript:;')
                            span.text 分布式 IDC
                            span.icon-64.icon-cdn-idc-corp
            li.primary-nav-item.nav-support
              a(href='javascript:;')
                span.t-text 技术
                span.b-text 支持
              // secondary-nav
              nav.secondary-nav-wrapper.is-hidden
                ul.secondary-nav
                  li
                    a(href='javascript:;')
                      span.icon-24.icon-question
                      span.text 常见问题
                  li
                    a(href='javascript:;')
                      span.icon-24.icon-service
                      span.text 技術服務
            li.primary-nav-item.nav-client
              a(href='javascript:;')
                span.t-text 客户
                span.b-text 案例
              // secondary-nav
              nav.secondary-nav-wrapper.is-hidden
                ul.secondary-nav
                  li
                    a(href='javascript:;')
                      span.icon-24.icon-client-analysis
                      span.text 個案分析
                  li
                    a(href='javascript:;')
                      span.icon-24.icon-client-namelist
                      span.text 典型客戶
        ul.header-buttons
          li
            a.language(href='javascript:;') English
          li
            a.login-trigger(href='#cd-search') 客户专区登录
        .login
          form
            input(type='text', placeholder='帐号')
            input(type='password', placeholder='密码')
            input(type='sumbit', value='送出')
    main.main-content
      .hero
        .bg.banner3
          h1 行业解决方案
          | 	    		
          p FASTER · BETTER
          | 	    		
          hr
        .bannerbottom
      .category
        ul
          li
            a(href='/a/solution/game/')
              span.icon-72.icon-game
              sapn.text 游戏加速
          | 				
          li
            a(href='/a/solution/video/')
              span.icon-72.icon-live
              sapn.text 互动直播加速
          | 				
          li
            a.current(href='/a/solution/e_commerce/')
              span.icon-72.icon-ec
              sapn.text 电商加速
          | 				
          li
            a(href='/a/solution/OTTTV/')
              span.icon-72.icon-ott
              sapn.text 互连网电视加速
          | 				
          li
            a(href='/a/solution/ALL/')
              span.icon-72.icon-all-site
              sapn.text 全站加速
          | 				
          li
            a(href='http://fwmob.fastweb.com.cn/', target='_blank')
              span.icon-72.icon-mobile
              sapn.text 移动互连网加速
      .wrapper
        .title
          h2 EC 电商加速解决方案
          p
            | 电子商务无疑是2010年新经济领域最具有活力的行业，许多的传统企业纷纷进军电子商务就是一个最好的佐证。电子商务企业面临的问题：如何保证向数以百万计的活跃用户提供完美的访问体验，改善客户在线体验质量从而影响客户对品牌的整体看法，保证客户的活跃度和粘合度？
        .solution
          h3 解决方案
          p
            img(src='', alt='')
          p
            | 1、运用FastCache技术针对网站静态内容进行加速，加快网站服务响应并节省运营成本；
            br
            br
            br
        .benefit
          h3 客户收益
          img(src='/images/solution/advantage-bg.png', alt='')
          div
            | 1、提高网站访问的加载速度，降低网站的购买放弃率，大幅增加销售收入；
            br
            br
            br
      .blank
    footer.main-footer
      .footer-top
      .footer-wrapper
        .footer-inner
          .footer-content
            dl
              dt 快网优势
              dd
                a(href='#') 快速响应
              dd
                a(href='#') 先进技术
              dd
                a(href='#') 专业服务
            dl
              dt 产品介绍
              dd
                a(href='#') CloudCDN
              dd
                a(href='#') CloudXNS
              dd
                a(href='#') 牛盾云加速
              dd
                a(href='#') CloudCache
              dd
                a(href='#') CloudDIY
            dl
              dt 技术支持
              dd
                a(href='#') 常见问题
              dd
                a(href='#') 服务指南
            dl
              dt 客户案例
              dd
                a(href='#') 个案分析
              dd
                a(href='#') 典型客户
            dl
              dt 新闻中心
              dd
                a(href='#') 快网新闻
              dd
                a(href='#') 媒体报导
              dd
                a(href='#') 行业新闻
            dl
              dt 关于快网
              dd
                a(href='#') 关于我们
              dd
                a(href='#') 招聘信息
              dd
                a(href='#') 友情链接
            dl.tel
              dt 客户热线
              dd 运维中心：400-811-0223
              dd 24小时运维：027-87001618 转8028、8029
              dd 销售热线：010-85867657-8、15901551087
          .copyright
            img(src='/images/index/sm_83x30_gray.png', alt='')
            img(src='/images/index/gw_83x30_gray.png', alt='')
            p
              | 版权所有 © 2006-2015 北京快网云计算CDN加速提供商 | 京ICP备06026704号 | 京公网安备11010502002181号
              br
              | 世纪互联集团（NASDAQ：VNET）
    .overlay
    script(src='/scripts/vendor/jquery-2.1.1.js')
    script(src='/scripts/app.js')
