li.primary-nav-item.nav-solution
  a(href='javascript:;')
    span.t-text 解决方案

  // secondary-nav
  // defaule .is-hidden
  .secondary-nav-wrapper.is-hidden
    .secondary-nav
      //- .tab
      .slider-nav-wrapper
        div.slider-nav
          span.marker
          ul
            // defaule current state .selected
            li.slider-nav-item.selected
              a(href="javascript:;") 行业解决方案
            li.slider-nav-item
              a(href="javascript:;") 自建解方案
            li.slider-nav-item
              a(href="javascript:;") 营运商解决方案
      nav
        ul.tab-slider
          // 行业解决方案
          li.selected
            ul.nav-solution-item
              li
                a(href='javascript:;')
                  span.icon-64.icon-ec
                  sapn.text 电商加速
              li
                a(href='javascript:;')
                  span.icon-64.icon-all-site
                  sapn.text 全站加速
              li
                a(href='javascript:;')
                  span.icon-64.icon-game
                  sapn.text 游戏加速
              li
                a(href='javascript:;')
                  span.icon-64.icon-live
                  sapn.text 互动直播加速
              li
                a(href='javascript:;')
                  span.icon-64.icon-ott
                  sapn.text 互连网电视加速
              li
                a(href='javascript:;')
                  span.icon-64.icon-mobile
                  sapn.text 移动互连网加速
          // 自建解方案
          li
            ul.nav-solution-item
              li
                a(href='javascript:;')
                  span.icon-64.icon-cdn-merge
                  span.text 融合CDN
              li
                a(href='javascript:;')
                  span.icon-64.icon-cdn-inner-network
                  span.text 内网自建CDN
              li
                a(href='javascript:;')
                  span.icon-64.icon-cdn-idc-corp
                  span.text IDC企业自建CDN
              li
                a(href='javascript:;')
                  span.icon-64.icon-cdn-self-build
                  span.text 互连网企业自建
          // 营运商解决方案
          li
            ul.nav-solution-item
              li
                a(href='javascript:;')
                  span.icon-64.icon-operator-speed
                  span.text 内容加速方案
              li
                a(href='javascript:;')
                  span.icon-64.icon-operator-content
                  span.text 内容引入方案
