li.primary-nav-item.nav-support
  a(href='javascript:;')
    span.t-text 技术支持

  // secondary-nav
  nav.secondary-nav-wrapper.is-hidden
    ul.secondary-nav
      li
        a(href='javascript:;')
          span.icon-24.icon-question
          span.text 常见问题
      li
        a(href='javascript:;')
          span.icon-24.icon-service
          span.text 技術服務
