
main.main-content
  .hero
    .bg.banner1
      h1 CDN自建方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='/a/solution/YHCDN/')
          span.icon-72.icon-cdn-merge
          sapn.text 融合CDN
      li
        a.current(href='/a/solution/ZJCDN_NW/')
          span.icon-72.icon-cdn-inner-network
          sapn.text 内网自建CDN
      li
        a(href='/a/solution/ZJCDN_IDC/')
          span.icon-72.icon-cdn-idc-corp
          sapn.text IDC企业自建CDN
      li
        a(href='/a/solution/create_cdn/')
          span.icon-72.icon-cdn-self-build
          sapn.text 互联网企业自建
  .wrapper
    .title
      h2 内网自建CDN
      p
        | 机关及军政单位因其自身的特点，往往采用内网开展相关工作。内网CDN可在员工集中分布区域部署边缘节点，就近响应用户请求，减少跨区域访问产生的丢包及延时，加速用户访问效果。在系统开发及运营维护团队较为薄弱的情况下，搭建CDN显得尤为困难。北京快网凭借对行业和客户需求的不断思考和研究，推出内网自建CDN解决方案，可帮助内网客户快速部署自建CDN。
    .solution
      h3 解决方案特点
      p
        img(src='', alt='')
      p
        | 1. 可视化WEB图形管理界面，易于上手操作，提高系统易用性；
        br
        br
        br
        br
    .benefit
      h3 方案优势
      img(src='/images/solution/advantage-bg.png', alt='')
      div
        | 1. 提供完整的售前、售中及售后支持，可开展完善的系统及运维技术培训；
        br
        br
        br
  .blank

.overlay
