
main.main-content
  .hero
    .bg.banner3
      h1 行业解决方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='../e_commerce/')
          span.icon-72.icon-ec
          sapn.text 电商加速
      li
        a.current(href='../ALL/')
          span.icon-72.icon-all-site
          sapn.text 全站加速
      li
        a(href='../game/')
          span.icon-72.icon-game
          sapn.text 游戏加速
      li
        a(href='../video/')
          span.icon-72.icon-live
          sapn.text 互动直播加速
      li
        a(href='../OTTTV/')
          span.icon-72.icon-ott
          sapn.text 互连网电视加速
      li
        a(href='../Mobile/')
          span.icon-72.icon-mobile
          sapn.text 移动互连网加速
  .wrapper
    .title
      h2 BetterAll 全站加速解决方案
      p
        | 公司网站是公司在互联网上进行网站建设和形像宣传的平台，相当于一个企业的网络名片。每年，网站设计都在快速进步，流行的滚动页面、排除非必要设计元素、固定宽度的中心网站布局等等，每天几乎都有新的设计出现。 网站面临的难题：网站的流量可预测性低，常有流量突发或高峰负载等情况，还需保证用户的体验度，减少客户流失，并防备内容被盗用，保障网站的合法利益。
    .solution
      h3 解决方案
      p
        img(src='#{root_path}images/solution/BerrterAll.png', alt='')
      ol
        li 1. 性能与速度：网站加速更快，消耗的带宽流量更少；
        li 2. 实时互动性：拥有令人感到惊异的内容总是非常关键，而利用这些内容进行互动交流是一大优势；
        li 3. 支持大存储：网民已不满足普通的图片，而转向自定义高质量的专业图片；
        li 4. 并发规模大：特殊事件期间会有大量访问；
    .benefit
      h3 客户收益
      img(src='#{root_path}images/solution/advantage-bg.png', alt='')
      ol
        li 1. 通过一系列安全机制，保证源站安全，服务不受攻击影响；
        li 2. 采用多级服务架构，增加中间节点服务集群，有效减少回源量，降低客户源站压力；
        li 3. 通过带宽、机器等多层次的冗余、实时服务质量的监控，最大程度地保证服务质量的稳定可靠，轻松应对带宽突增；
        li 4. 提供准确、完整、及时的日志及专业的数据统计分析，帮助客户更好地了解自身业务情况；降低客户源站压力；
        li 5. 具有可定制化功能，如：源站负载均衡、离线工作模式、防盗链功能等；
        li 6. 为客户节约成本，提高成功服务的用户数，提高网站收益。
  .blank
