main#hr.main-content
  .hero
    .bg
      h1 人力资源
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a.current(href='/a/news/news_reports/') 全部
      li
        a(href='/a/news/industry/') 社会招聘
      li
        a(href='/a/news/industry/') 校园招聘
      li
        a(href='/a/news/industry/') 实习生计划
  .wrapper
    .title
      h2 全部招聘
    .list        
      .box
        h3 CDN 销售经理
        div
          .left
            h5 地点：
            p 北京、上海、广州、深圳
            h5 岗位职责：
            ol
              li 完成公司下达的CDN/IDC产品的销售任务和目标；
              li 自主开发客户，拥有独立完成销售指标；
              li 关注行业发展动态，有能力进行趋势分析及完成行业大客户的公关营销。
          .right
            h5 任职资格：
            ol
              li 有游戏、媒体、互联网、政府等其中一类客户资源者优先；
              li 有IDC销售工作经验或网站技术服务销售工作经验者优先；
              li 全日制本科以上学历 ，计算机通讯类或市场营销类相关专业；
              li 三年以上销售工作经验，且工作期间内拥有良好的销售业绩；
              li 具有较强的团队协作的工作意识，出色的沟通能力和优秀的商务谈判技巧。
      .box
        h3 CDN 销售经理
        div
          .left
            h5 地点：
            p 北京、上海、广州、深圳
            h5 岗位职责：
            ol
              li 完成公司下达的CDN/IDC产品的销售任务和目标；
              li 自主开发客户，拥有独立完成销售指标；
              li 关注行业发展动态，有能力进行趋势分析及完成行业大客户的公关营销。
          .right
            h5 任职资格：
            ol
              li 有游戏、媒体、互联网、政府等其中一类客户资源者优先；
              li 有IDC销售工作经验或网站技术服务销售工作经验者优先；
              li 全日制本科以上学历 ，计算机通讯类或市场营销类相关专业；
              li 三年以上销售工作经验，且工作期间内拥有良好的销售业绩；
              li 具有较强的团队协作的工作意识，出色的沟通能力和优秀的商务谈判技巧。
      .box
        h3 CDN 销售经理
        div
          .left
            h5 地点：
            p 北京、上海、广州、深圳
            h5 岗位职责：
            ol
              li 完成公司下达的CDN/IDC产品的销售任务和目标；
              li 自主开发客户，拥有独立完成销售指标；
              li 关注行业发展动态，有能力进行趋势分析及完成行业大客户的公关营销。
          .right
            h5 任职资格：
            ol
              li 有游戏、媒体、互联网、政府等其中一类客户资源者优先；
              li 有IDC销售工作经验或网站技术服务销售工作经验者优先；
              li 全日制本科以上学历 ，计算机通讯类或市场营销类相关专业；
              li 三年以上销售工作经验，且工作期间内拥有良好的销售业绩；
              li 具有较强的团队协作的工作意识，出色的沟通能力和优秀的商务谈判技巧。
      .box
        h3 CDN 销售经理
        div
          .left
            h5 地点：
            p 北京、上海、广州、深圳
            h5 岗位职责：
            ol
              li 完成公司下达的CDN/IDC产品的销售任务和目标；
              li 自主开发客户，拥有独立完成销售指标；
              li 关注行业发展动态，有能力进行趋势分析及完成行业大客户的公关营销。
          .right
            h5 任职资格：
            ol
              li 有游戏、媒体、互联网、政府等其中一类客户资源者优先；
              li 有IDC销售工作经验或网站技术服务销售工作经验者优先；
              li 全日制本科以上学历 ，计算机通讯类或市场营销类相关专业；
              li 三年以上销售工作经验，且工作期间内拥有良好的销售业绩；
              li 具有较强的团队协作的工作意识，出色的沟通能力和优秀的商务谈判技巧。
      .box
        h3 CDN 销售经理
        div
          .left
            h5 地点：
            p 北京、上海、广州、深圳
            h5 岗位职责：
            ol
              li 完成公司下达的CDN/IDC产品的销售任务和目标；
              li 自主开发客户，拥有独立完成销售指标；
              li 关注行业发展动态，有能力进行趋势分析及完成行业大客户的公关营销。
          .right
            h5 任职资格：
            ol
              li 有游戏、媒体、互联网、政府等其中一类客户资源者优先；
              li 有IDC销售工作经验或网站技术服务销售工作经验者优先；
              li 全日制本科以上学历 ，计算机通讯类或市场营销类相关专业；
              li 三年以上销售工作经验，且工作期间内拥有良好的销售业绩；
              li 具有较强的团队协作的工作意识，出色的沟通能力和优秀的商务谈判技巧。
      .box
        h3 CDN 销售经理
        div
          .left
            h5 地点：
            p 北京、上海、广州、深圳
            h5 岗位职责：
            ol
              li 完成公司下达的CDN/IDC产品的销售任务和目标；
              li 自主开发客户，拥有独立完成销售指标；
              li 关注行业发展动态，有能力进行趋势分析及完成行业大客户的公关营销。
          .right
            h5 任职资格：
            ol
              li 有游戏、媒体、互联网、政府等其中一类客户资源者优先；
              li 有IDC销售工作经验或网站技术服务销售工作经验者优先；
              li 全日制本科以上学历 ，计算机通讯类或市场营销类相关专业；
              li 三年以上销售工作经验，且工作期间内拥有良好的销售业绩；
              li 具有较强的团队协作的工作意识，出色的沟通能力和优秀的商务谈判技巧。
  .blank