main#about.main-content
  .hero
    .bg
      h1 关于我们
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a.current(href='/a/about_us/company/') 公司介绍
      li
        a(href='/a/about_us/honor/') 公司荣誉
      li
        a(href='/a/about_us/corporate_culture/') 公司文化
      li
        a(href='/a/about_us/contact_us/') 联络我们
  .wrapper
    .intro
      div 
          p
            | 北京快网科技有限公司，自2006年初成立以来，利用其丰富的管理经验、优秀的专业队伍、强大的网络资源、自主开发的独到技术、客户至上的服务理念，已成为中国领先的云加速(CDN)服务商，目前，在亚太、欧美拥有可控节点数十处，在国内公司网络节点多达300余处，布遍全国各地重要省市，跨越中国电信、移动、联通、铁通、教育网、科技网、长城宽带等各个运营商，带宽总量超过3TB，知名客户超过1000余家。如：央视、芒果TV、新浪、网易、苏宁易购、奇虎360、盛大、豌豆荚、应用汇等知名互联网企业及电视网络平台的认可均为其提供高质量、高安全性的云加速（CDN）服务，7 X24小时全方位运维中心第一时间响应并解决您的问题。
          p
            | 北京快网拥有一流的专业研发队伍。不仅在全世界首次提出基于云计算技术的CloudCDN理念，并于2011年自主研发了CloudXNS 和 CloudTCP 二大产品，与CloudCDN组成为快网的三大核心技术, 而且自主开发了一系列的CDN软件服务(SAAS)技术，包括为静态加速，下载加速，视频点直播分发，CloudDIY、CloudCache、分布式网络存储，CDN平台监控，网站访问分析，网络状态探测，等等，目前，已获得专利11项、软著7项，同时获得业界各类奖项40余项，如：获得红鲱鱼100强，连续三年荣获德勤中国50强和亚太500强，还有中国互联网十大“信心之星”等。目前，北京快网在北京、上海、深圳、广州、武汉、美国硅谷等多个城市设有子公司及大型研发基地。完善的服务体系，优秀的研发队伍，经验丰富的运维团队，都是提供最优质领先的云加速服务保障。北京快网坚定"更快更好 和谐网络"的目标，努力打造专业云加速（CDN）领域的第一品牌。
    .list        
      .box
        h3 发展历程
        div.f16
          ol
            li 
              span 2006 / 01
              北京快网正式成立于北京
            li 
              span 2008 / 05
              北京快网荣获德丰杰龙脉基金游资
            li 
              span 2008 / 12
              北京快网通过软件企业认定
            li 
              span 2008 / 12
              北京快网荣获“红鲱鱼亚洲100强”
            li 
              span 2009 / 08
              北京快网荣获“国家高新技术企业认证”
            li 
              span 2009 / 10
              北京快网与新浪、网易、搜狐、腾讯四大门户达成合作
            li 
              span 2009 / 11
              北京快网荣获“2009年度德勤高科技、高成长中国50强、”
            li 
              span 2009 / 12
              北京快网通过ISO9001质量管理体系认证
            li 
              span 2010 / 10
              北京快网荣获“2010年度德勤高科技、高成长中国50强、”
            li 
              span 2011 / 07
              北京快网全新智能域名解析系统CloudXNS正式上线
            li 
              span 2011 / 10
              北京快网荣获“2010年度德勤高科技、高成长中国50强、”
            li 
              span 2011 / 11
              北京快网TCP优化技术CloudTCP正式投入使用并与CloudCDN、CloudXNS组合，向“云加速”战略转型
            li 
              span 2012 / 09
              北京快网与世纪互联强强联合，形成资源共享
            li 
              span 2014 / 09
              北京快网重磅推出首款云安防加速一体化品牌“牛盾云加速”
  .blank