
main.main-content
  .hero
    .bg.banner2
      h1 运营商解决方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a.current(href='../js/')
          span.icon-56.icon-operator-speed
          span.text 内容加速方案
      li
        a(href='../yr/')
          span.icon-64.icon-operator-content
          span.text 内容引入方案
  .wrapper
    .title
      h2 內容加速方案
      p
        | 随着“宽带中国”上升为国家战略，中国移动获得固网牌照，三大运营商在宽带市场竞争日益激烈。同时移动智能终端的普及、移动网络带宽及稳定性的大幅提高，移动互联网规模也持续快速增长。宽带运维人力、物料成本压力逐步增加，网络运营商还面临着内容资源匮乏、网络流量不均、出口带宽压力过大等问题。如何减少用户访问对骨干网带宽的占用，在节省费用的情况下保证网络质量和服务水平是网络运营商的研究发展方向。
    .solution
      h3 解决方案特点
      ol
        li 1. 缓存系统部署在国际网关、核心网和城域网，处理网络流量中的各种应用协议和请求报文；
        li 2. 针对HTTP页面、下载和在线视频等大流量应用使用不同的网内缓存策略，缓存到本地直接响应客户的请求；
        li 3. 可以缓存的HTTP流量进行本地化，对于动态HTTP流量或其他协议的流量也可以通过代理的方式动态加速；
        li 4. 支持在无线环境下对TCP协议的优化，提高百分之三十到百分之五十的传输速率；
        li 5. 重定向系统、负载均衡子系统以及一些通用网络设备（如交换机）构成强大的智能路由负载均衡系统，保证访问的可用性；
        li 6. 提供的报表系统为客户提供流量访问状况，并提供数据分析等增值服务。
    .solution
      h3 产品拓扑图
      p
        img(src='#{root_path}images/solution/yr_tb2.png', alt='')
    .benefit
      h3 方案优势
      img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
      ol
        li 1. 热门内容缓存在网内，用户访问时由网内的Cache系统直接返回内容，不用跨网获取资源；
        li 2. 网内Cache系统直接响应用户请求，由空间换取时间，减少访问路径，提升访问体验；
        li 3. 提高运营商手机综合下载速率；
        li 4. 提高运营商的本网率；
        li 5. 通过对流量的优化，推动运营商带宽业务的进一步普及和发展，吸引更多的宽带用
  .blank

