
main.main-content
  .hero
    .bg.banner2
      h1 运营商解决方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a.current(href='/a/solution/js/')
          span.icon-64.icon-operator-speed
          span.text 内容加速方案
      li
        a(href='/a/solution/yr/')
          span.icon-64.icon-operator-content
          span.text 内容引入方案
  .wrapper
    .title
      h2 內容加速方案
      p
        | 随着“宽带中国”上升为国家战略，中国移动获得固网牌照，三大运营商在宽带市场竞争日益激烈。同时移动智能终端的普及、移动网络带宽及稳定性的大幅提高，移动互联网规模也持续快速增长。宽带运维人力、物料成本压力逐步增加，网络运营商还面临着内容资源匮乏、网络流量不均、出口带宽压力过大等问题。如何减少用户访问对骨干网带宽的占用，在节省费用的情况下保证网络质量和服务水平是网络运营商的研究发展方向。
    .solution
      h3 解决方案特点
      p
        img(src='#{root_path}', alt='')
      p
        | 1. 缓存系统部署在国际网关、核心网和城域网，处理网络流量中的各种应用协议和请求报文；
        br
        br
        br
        br
        br
    .solution
      h3 产品拓扑图
      p
        img(src='', alt='')
    .benefit
      h3 方案优势
      img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
      div
        | 1. 热门内容缓存在网内，用户访问时由网内的Cache系统直接返回内容，不用跨网获取资源；
        br
        br
        br
        br
  .blank
.overlay
