
main.main-content
  .hero
    .bg.banner3
      h1 行业解决方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='../e_commerce/')
          span.icon-56.icon-ec
          sapn.text 电商加速
      li
        a(href='../ALL/')
          span.icon-56.icon-all-site
          sapn.text 全站加速
      li
        a(href='../game/')
          span.icon-56.icon-game
          sapn.text 游戏加速
      li
        a(href='../video/')
          span.icon-56.icon-live
          sapn.text 互动直播加速
      li
        a(href='../OTTTV/')
          span.icon-56.icon-ott
          sapn.text 互连网电视加速
      li
        a.current(href='../Mobile')
          span.icon-56.icon-mobile
          sapn.text 移动互连网加速
  .wrapper
    .title
      h2 BetterMobile 移动互联网加速解决方案
      p
        | 随着移动智能终端的普及、移动网络带宽及稳定性的大幅提高，移动互联网规模持续快速增长。移动网民对移动用户体验的要求也在不断提高。诸多移动应用商开始购置大量服务器及带宽资源，以缓解日益增长的业务需求。
    .solution
      h3 解决方案
      p
        img(src='#{root_path}images/solution/BerrterMobile.png', alt='')
      ol
        li 1、提供移动端静态类、APP应用下载类、移动端音视频点播类、直播类等加速服务；
        li 2、根据客户加速类型提供内存版和硬盘版缓存系统，比开源Squid系统性能高3-8倍；
        li 3、支持各种智能终端，全面适用于移动互联网应用场景；
        li 4、GSLB精度调度，智能缓存和预分发相结合，实现用户就近快速访问；
        li 5、诸多运营报表增值服务，提供全面而细致的移动运营数据深度解析。
    .benefit
      h3 客户收益
      img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
      ol
        li 1、改善移动用户体验，增强移动互联网用户满意度及粘合度；
        li 2、有效抵御洪水式网络攻击，使网站永不宕机，有效提升网站可靠性及安全性；
        li 3、减少源站负载，节省移动应用支出成本和运维成本，企业可将精力投入产品开发及创新；
        li 4、诸多运营报表服务协助企业对移动互联网市场及产品的数据挖掘。
  .blank
