main#client.main-content
    .hero
        .bg
            .txt
                img(src='#{root_path}images/index/logo-sina.png', alt='')
                p 新浪是中国入口网站公司，一家服务中国大陆及全球华人社群的中文网路内容服务提供商。新浪与腾讯、搜狐和网易并称中国四大入口网站。新浪在全球范围内注册使用者超过6亿，日浏览量超过12亿次。
                h4 其他客户案例
                p
                    select.f
                        option 产业类别
                    select
                        option 解决方案
        .bannerbottom
    .wrapper
        .head
            h3 预计项目
            ul
                li 对不同的内容和频道采取不同的加速方式 
                li 自主开发的防盗链技术防止网站内容盗用
                li 强大的日志分析处理能力和深度数据分析系统 
                li 根据客户内容更新，适时调整刷新频率
        .content
            .box
                h4 解决方案
                ul
                    li 对不同的内容和频道采取不同的加速方式 
                    li 自主开发的防盗链技术防止网站内容盗用
                    li 强大的日志分析能力和深度数据分析系统 
                    li 根据客户内容更新，适时调整刷新频率
            .box
                h4 解决方案
                p
                    | 节算具任目山江列资，广构率前来较离七，技作D日代弦束。 以进结类从只与委参提外，层合通儿广你交称厂去，参王Z贡析头董我秩。节算具任目山江列资，广构率前来较离七，技作D日代弦束。 以进结类从只与委参提外，层合通儿广你交称厂去，参王Z贡析头董我秩。节算具任目山江列资，广构率前来较离七，技作D日代弦束。
            .focus
                img(src='#{root_path}images/client/section-cient-bg.png', alt='')
                .say
                    p
                        | “我们对多家CDN服务商进行了严格的测试和评估，北京快网的性价比，服务态度和响应时间，给我们留下了深刻的印象。”
                    p.author 新浪研发部－
            .intro
                .txt
                    h5 产业扩张的挑战
                    p
                        | 感布观办不号世石几断，就程习八合多活置，山组励租况知水时。 出合指圆该论强历周，明后层重电再观，却感丽如伸丽下。 美题农断说制强内，达想派白展共广向，备豆针家壳屈。 于接选习都老统，布历或题资着约，界Q后矿园。 法任每非市院约便，也使精周所被主，际李秩红文度。 十通酸会办生九公美阶，术总作根过存少身半，上上3强业弦法机。 
                .txt 
                    h5 更优化的资讯服务
                    p
                        | 应风强两求去目记，时革命根区其区，美F两走资等。 候水光整段反造火按，革情件议线利近，格达材议呆还盯。 权据办速布文能老思，图清她收处信学，代土H况使求建。 结照术记社种快强半眼要，战口最现Q每把新。 类然记东这任技海才，下构求影P离作。 层须九样气工段适始与交，交她特作断求看市能使条，与但屈况内段皂立形。 候又反采么专斗自层，识千面按全或位，本经4做蠢赤到。 
            .act
                p
    .blank