footer.main-footer
  .footer-top
  .footer-wrapper
    .footer-inner
      .footer-content
        dl
          dt 快网优势
          dd: a(href='javascript:;') 快速响应
          dd: a(href='javascript:;') 先进技术
          dd: a(href='javascript:;') 专业服务
        dl
          dt 产品介绍
          dd: a(href='javascript:;') CloudCDN
          dd: a(href='javascript:;') CloudXNS
          dd: a(href='javascript:;') 牛盾云加速
          dd: a(href='javascript:;') CloudCache
          dd: a(href='javascript:;') CloudDIY
        dl
          dt 技术支持
          dd: a(href='javascript:;') 常见问题
          dd: a(href='javascript:;') 服务指南
        dl
          dt 客户案例
          dd: a(href='javascript:;') 个案分析
          dd: a(href='javascript:;') 典型客户
        dl
          dt 新闻中心
          dd: a(href='javascript:;') 快网新闻
          dd: a(href='javascript:;') 媒体报导
          dd: a(href='javascript:;') 行业新闻
        dl
          dt 关于快网
          dd: a(href='javascript:;') 关于我们
          dd: a(href='javascript:;') 招聘信息
          dd: a(href='javascript:;') 友情链接
        dl.tel
          dt 客户热线
          dd 运维中心：400-811-0223
          dd 24小时运维：027-87001618 转8028、8029
          dd 销售热线：010-85867657-8、15901551087
      .copyright
        img(src='images/index/sm_83x30_gray.png', alt='')
        img(src='images/index/gw_83x30_gray.png', alt='')
        p
          | 版权所有 © 2006-2015 北京快网云计算CDN加速提供商 | 京ICP备06026704号 | 京公网安备11010502002181号
          br
          | 世纪互联集团（NASDAQ：VNET）
