main#about.main-content
  .hero
    .bg
      h1 友情链结
      p FASTER · BETTER
      hr
    .bannerbottom
  .wrapper
    .title
      h2 友情链结
    .fw-img-links
        a(target="_blank" href="http://www.1ting.com/")
          img(src="../../links/1211141333525234.jpg")
        a(target="_blank" href="http://www.51cto.com/")
          img(src="../../links/1211141335089073.jpg")
        a(target="_blank" href="http://www.ccidnet.com/")
          img(src="../../links/1211141336261890.jpg")
        a(target="_blank" href="http://www.cernet.com/")
          img(src="../../links/1211141338254267.jpg")
        a(target="_blank" href="http://www.chinaunix.net/")
          img(src="../../links/1211141339282993.jpg")
        a(target="_blank" href="http://www.cnkang.com/")
          img(src="../../links/1211141340094565.jpg")
        a(target="_blank" href="http://www.ctocio.com.cn/")
          img(src="../../links/1211141340528270.jpg")
        a(target="_blank" href="http://www.docin.com/")
          img(src="../../links/1211141341251768.jpg")
        a(target="_blank" href="http://www.e-jjj.com/")
          img(src="../../links/1211141342105055.jpg")
        a(target="_blank" href="http://www.ev123.com/")
          img(src="../../links/1211141343057763.jpg")
        a(target="_blank" href="http://www.feeyo.com/")
          img(src="../../links/1211141343529959.jpg")
        a(target="_blank" href="http://www.gettyimages.cn/")
          img(src="../../links/1211141344522404.jpg")
        a(target="_blank" href="http://www.guao.hk/")
          img(src="../../links/1211141345403333.jpg")
        a(target="_blank" href="http://www.hongxiu.com/")
          img(src="../../links/1211141346197588.jpg")
        a(target="_blank" href="http://www.it168.com/")
          img(src="../../links/1211141347498346.jpg")
        a(target="_blank" href="http://www.ifeng.com/")
          img(src="../../links/1211141346556542.jpg")
        a(target="_blank" href="http://www.ku6.com/")
          img(src="../../links/1211141348571758.jpg")
        a(target="_blank" href="http://www.letv.com/")
          img(src="../../links/1211141349429464.jpg")
        a(target="_blank" href="http://bbs.linuxtone.org/forum.php")
          img(src="../../links/1211141350266759.jpg")
        a(target="_blank" href="http://www.maxthon.cn/")
          img(src="../../links/1211141350544096.jpg")
        a(target="_blank" href="http://www.pconline.com.cn/")
          img(src="../../links/1211141351509690.jpg")
        a(target="_blank" href="http://www.techweb.com.cn/")
          img(src="../../links/1211141354296152.jpg")
        a(target="_blank" href="http://www.xs8.cn/")
          img(src="../../links/1211141355454351.jpg")
        a(target="_blank" href="http://www.yeepay.com/")
          img(src="../../links/1211141356479647.jpg")
        a(target="_blank" href="http://www.yymp3.com/")
          img(src="../../links/1211141358144117.jpg")
        a(target="_blank" href="http://www.qunar.com/")
          img(src="../../links/1211141359039183.jpg")
        a(target="_blank" href="http://ucmimi.com/")
          img(src="../../links/1211141400391931.jpg")
        a(target="_blank" href="http://www.chinanetcloud.com/zh-hans")
          img(src="../../links/1211141401237060.jpg")
        a(target="_blank" href="http://an.liqucn.com/")
          img(src="../../links/1211141402108691.jpg")
        a(target="_blank" href="http://www.tongzhuo100.com/")
          img(src="../../links/1211141403366581.jpg")
        a(target="_blank" href="http://www.51test.net/")
          img(src="../../links/1211141404235188.jpg")
        a(target="_blank" href="http://www.game2.cn/")
          img(src="../../links/1211141405021204.jpg")
        a(target="_blank" href="http://www.dreamwork.cn/")
          img(src="../../links/1211141405558666.jpg")
    .mylogo
      h2 本站链结
      div
        img.large
        img.small
        p 
          | 链接地址: http://www.fastweb.com.cn
          br
          | 文字链接：北京快网
    .request
      h2 网站合作要求
      ol 
        li 符合我国现行法律法规； 
        li 网站alexa排名高于10000名； 
        li 站点google pagerank多余于5； 
        li 友情链接网站之间有义务向对方报告链接失效，图片更新等问题，在解除友情链接之前亦应该通知对方； 
        li 以上各项，北京快网保留全部解释权。
      p 网站合作请发送至: Marketing@fastweb.com.cn
  .blank
.overlay