main#support.main-content
  .hero
    .bg
      h1 技术支持
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='#{root_path}a/service_guide/') 技术服务
      li
        a.current(href='#{root_path}a/faq/') 常见问题
  .wrapper
    .list
      .box
        h3 出现 CDN 技术的社会背景？
        div
          | 随着互联网的高速发展，给人们的工作和生活带来了极大的便利，人们对互联网的服务品质和访问速度要求越来越高，虽然带宽不断增加， 与此同时用户数量也在不断增加，受Web服务器的负荷和传输距离等因数的影响，网络访问响应速度慢。解决方案就是在网络传输上利用网站加速技术使得Web服务数据流能在最接近用户的"边缘"实现就近访问，优化网络数据传输效率，从而获得高速的访问体验和品质保证。2008年1月，随着中国互联网信息中心发布第21次全国互联网报告。中国互联网进入了一个崭新的时代。报告显示，截至到2007年12月31日，内地上网用户总数2.1亿。其中，宽带上网已经成为上网接入的主流，但互联网设施基础建设的滞后成为互联网新技术、新应用快速普及的障碍，需要有一种新互联网架构架理念和技术来解决互联网访问拥塞和突发性分布不均的问题，CDN技术正是在这样的背景下应运而生。
      .box
        h3 CDN 是什么？
        div
          | CDN的全称是Content Delivery Network，即内容分发网络。其主要目的是通过在现有的Internet中增加一层新的网络架构，将网站的内容发布到最接近用户的网络"边缘"，使用户可以就近取得所需的内容，分散集中访问带来的压力，解决Internet网络拥塞，提高用户访问网站的响应速度。北京快网公司目前提出的是CloudCDN，具有目前最新最先进的CDN加速。
      .box
        h3 北京快网 CDN 是如何运作的？
        div
          | 北京快网CDN(CloudCDN)的基本运作原理是: 北京快网在全国各地的很多CDN节点(FastNode)部署了大量的边缘服务器(FastServer)，当客户使用CDN服务的时候要把加速的域名CNAME到北京快网的CDN网络节点中，然后将客户的内容缓存或镜像到这些边缘服务器上，当终端用户访问这些加速网站时，通过先进的智能自助DNS(CloudXNS)将用户的访问解析到离终端用户最近最可靠的边缘服务器上，实现就近访问，从而加速访问速度，提升用户的访问体验。
      .box
        h3 北京快网 CDN 能带给我们什么好处？
        div
          p
            | a) 对于网站客户来说: 消除网络访问的拥堵点，使视频和其他丰富的内容的传输成为可能的同时，却没有降低站点的性能。 减小服务器的负载，所以网站也可以减少在硬件设备以及电信资源租用方面的成本投入。在安全性方面，通过智能自助DNS只把某个FastNode的地址返回给访问用户，而源服务器的实际IP地址被屏蔽起来了，使其不暴露在公网上成为攻击的目标。而加速节点FastNode中所采用的专业加速设备采用专用的操作系统和硬件平台，本身具有很高的安全性。利用CloudCDN充足的全网带宽储备，一般的DDOS攻击也没有办法将网站的出口带宽完全占用，源服务器会得到很好的保护，可以有效抵御大部分的网络攻击。同时，我们有7*24小时的全天候监控，随时发现异常流量及时进行阻断，确保安全可靠运行。在可靠性方面，CloudCDN在结构上实现了多点的冗余，即使某一个加速节点FastNode即使意外发生故障，网站的访问也能够自动地导向其他的健康FastNode进行响应，不会造成服务的中断。 可以保证网站具有很高的可用性。
          p
            | b) 对于终端用户来说: 能够提高站点的访问速度，性能和可靠性，改善用户的访问体验。
      .box
        h3 北京快网能够提供客户怎样的服务？
        div
          p 我们的产品如下：
          ol
            li CloudCDN视频点播加速； 
            li CloudCDN静态网页加速； 
            li CloudCDN视频直播加速； 
            li li CloudCDN下载加速； 
            li CloudCache加速； 
            li MobileCache加速；
            li CloudDIY加速；
            li CloudXNS智能自助DNS； 
          p 我们可以提供网站CDN加速的接入服务、IDC的托管服务、网络存储、智能自助DNS解析，也提供其它的网络优化咨询服务，未来我们还会有其它增值服务等。
      .box
        h3 哪些内容适合使用静态加速技术进行加速？
        div
          | 网站中所有的静态网页(html等)、图片(jpg，gif等)等静态内容都适合用静态加速技术进行加速。
      .box
        h3 如何针对实时性要求很高的动态内容进行加速？
        div
          | 北京快网自主研发了一套针对实时性要求非常高的动态内容进行加速的技术(FastDynamic)。 对于用户的动态内容请求首先到达离他最近的加速节点，在每个加速节点通过路由优化技术、CloudTCP优化技术，绕开南北互联互通瓶颈点，选择最优的链路，保证将动态内容快速响应给最终用户。通过测试，这种动态加速技术(FastDynamic)可以提高动态内容的响应速度2-10倍。 如果再结合静态加速技术将该动态页面的静态内容进行加速，其访问速度会得到更大的提高。
      .box
        h3 流媒体点播是怎么加速的？
        div
          | 北京快网的流媒体点播加速(FastVOD)的原理是: 将源站大量的流媒体点播内容(视频、声音和数据等)通过良好的链路传输到北京快网网络中心的流媒体专用存储设备中，并通过CloudCDN网络本身具有的协同性能，同步分发到位于各地的北京快网CDN节点的专用流媒体访问服务器上，这些服务器位于各省市主要运营商网络节点。当终端用户访问加速站点时，北京快网的智能自助DNS(CloudXNS) 将请求指向到离终端用户最近的响应效果最好的节点流媒体服务器上。
      .box
        h3 流媒体直播是怎么加速的？
        div
          | 流媒体直播(FastLive)加速的基本过程是: 将源站实时采集到的网络视频流选择最优的链路发布到北京快网的中心流媒体直播专用设备上，然后再由中心网络对直播视频流进行分层转发，每一路分发的流都通过完备的链路到达节点的流媒体服务器机群中，通过流媒体服务器集群为终端用户就近为用户提供稳定可靠的直播服务。
      .box
        h3 使用 CDN 后会增加源服务器负载吗？
        div
          p 使用CloudCDN后，源服务器的流量会分流到其它各地的加速节点上，不会增加源服务器负载。
          p 如果是静态网站，通过CDN加速后，边缘节点就近缓存，不但会大大提高访问速度，还会极大地降低源服务器的负载。
            //- li
            //-   | 对于动态网站，通过CDN加速后，用户的访问数量并不额外增加因CDN本身的访问连接(只是动态地转发访问)，因此也不会增加源服务器的负载。另一方面，由于通过CDN加速内部采用的动态路由技术、CloudTCP优化技术等，再加上对用户节点分流的作用，可以使用户访问源服务器更在高效，速度更快，一定程度地减轻源服务器的压力。
  .blank
.overlay
