main#cloudcdn.main-content
  .hero
    .bg
      h1 CloudCDN
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='/a/products/static/')
          span.icon-72.icon-fastpage
          span.text 网页加速
      li
        a(href='/a/products/live/')
          span.icon-72.icon-fastlive
          span.text 直播加速
      li
        a.current(href='/a/products/vod/')
          span.icon-72.icon-fastvod
          span.text 点播加速
      li
        a(href='/a/products/download/')
          span.icon-72.icon-fastdownload
          span.text 下载加速
      li
        a(href='/a/products/oversea/')
          span.icon-72.icon-fastoversea
          span.text 海外加速
      li
        a(href='/a/products/storage/')
          span.icon-72.icon-faststorage
          span.text 储存服务
      li
        a(href='/a/products/monitorin/')
          span.icon-72.icon-fastmonitor
          span.text 监控服务
      li
        a(href='/a/products/report/')
          span.icon-72.icon-fastreport
          span.text 日志分析
  .bg1
    .wrapper
      .title
        h2 FastVOD 点播加速
        p 新闻类视频网站 + 影视类视频网站 + 视频分享类网站 + 在线教育类网站 + 音乐类网站
      .product
        .box
          h3 产品功能
          ul
            li 大流量分层同步传输+节点快速切换；
            li 多样的版权保护机制(referer+IP+URL标签+UA)；
            li 支持按时间+字节进行流媒体随机拖动，支持断点续传；
            li 一站式加速；
            li 防盗链+MD5校验+数据备灾；
            li 支持离线模式，源站宕机后，节点缓存内容仍可访问。
        .box.last
          h3 产品优势
          ul
            li 支持播放拖拽，更好满足用户需求；
            li 提供丰富的节点资源，更好的实现用户覆盖，有效提升用户体验；
            li 热点文件预缓存，保证用户点播质量 。
        .img
          img(src='#{root_path}', alt='')
  .bg2
    .wrapper
      .benefit
        h3 优质服务
        img(src='#{root_path}/images/products/services-bg.png', alt='')
        .detail
          div
            h4 数据报告
            ol
              li 不同纬度统计分析，日报、月报及服务质量评测报告。
          div
            h4 个性定制
            ol
              li 指定ISP带宽资源；
              li 地域化服务；
              li 区域访问控制；
              li 服务IP查询。
          div
            h4 安全增强
            ol
              li 抗DDos攻击；
              li 防劫持技术；
              li 防盗链技术；
              li 源站隐匿与源站监控。
          div
            h4 可靠保证
            ol
              li 分布式负载均衡访问；
              li MD5校验机制确保传输数据完整一致；
              li 主备源热切换与多源轮询访问；
              li 冗余负载，支持流量突发。
          div
            h4 专业服务
            ol
              li 7*24*365全天候的技术支持；
              li 用户访问故障分析；
              li 客户监控，命中率、带宽、流量监控，订阅报警。
  .blank
.overlay
