
main.main-content
  .hero
    .bg.banner1
      h1 CDN自建方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='/a/solution/YHCDN/')
          span.icon-72.icon-cdn-merge
          sapn.text 融合CDN
      li
        a(href='/a/solution/ZJCDN_NW/')
          span.icon-72.icon-cdn-inner-network
          sapn.text 内网自建CDN
      li
        a.current(href='/a/solution/ZJCDN_IDC/')
          span.icon-72.icon-cdn-idc-corp
          sapn.text IDC企业自建CDN
      li
        a(href='/a/solution/create_cdn/')
          span.icon-72.icon-cdn-self-build
          sapn.text 互联网企业自建
  .wrapper
    .title
      h2 IDC企业自建CDN
      p
        | IDC企业作为互联网内容服务商的部署载体，在发展CDN业务上具备天然的资源优势及客户优势。越来越多的IDC企业开始在自有资源的基础上，开展CDN网络加速服务。 IDC企业若完全采用自主研发CDN会受到研发及运营成本高、人员技术水平要求严格、搭建周期长等不利因素限制。北京快网凭借在CDN及IDC领域的深耕，推出IDC企业自建CDN解决方案，可帮助IDC企业快速实现自建CDN网络部署。
    .solution
      h3 解决方案特点
      p
        img(src='#{root_path}', alt='')
      p
        | 1. 提供自建全套的CDN系统模块，包括缓存系统、调度系统、管理系统、监控系统等；
        br
        | 2. 提供静态类、下载类、音视频点播类、直播类等各类业务加速模块；
        br
        | 3. 根据客户业务需求，提供全套方案设计、设备选型及系统部署建议；
        br
        | 4. 提供完整的售前、售中及售后支持，可开展完善的系统及运维技术培训；
        br
        | 5. 7*24小时客户服务实时保障问题在第一时间得到响应及解决。
    .benefit
      h3 方案优势
      img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
      div
        | 1. 采用快网成熟的商业软件，具有快速部署的特点，可大幅缩短方案部署周期；
        br
        | 2. 模块化系统设计，可根据客户自身需求灵活选择功能模块，同时便于系统升级扩充，实现贴合用户的精细化组网需求；
        br
        | 3. 可视化配置图形界面，易于上手操作，系统易用性提高；
        br
        | 4. 获得8年系统稳定的运营经验及运维流程。
  .blank

.overlay

