main#cloudcdn.main-content
  .hero
    .bg
      h1 CloudCDN
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a.current(href='/a/products/static/')
          span.icon-72.icon-fastpage
          span.text 网页加速
      li
        a(href='/a/products/live/')
          span.icon-72.icon-fastlive
          span.text 直播加速
      li
        a(href='/a/products/vod/')
          span.icon-72.icon-fastvod
          span.text 点播加速
      li
        a(href='/a/products/download/')
          span.icon-72.icon-fastdownload
          span.text 下载加速
      li
        a(href='/a/products/oversea/')
          span.icon-72.icon-fastoversea
          span.text 海外加速
      li
        a(href='/a/products/storage/')
          span.icon-72.icon-faststorage
          span.text 储存服务
      li
        a(href='/a/products/monitorin/')
          span.icon-72.icon-fastmonitor
          span.text 监控服务
      li
        a(href='/a/products/report/')
          span.icon-72.icon-fastreport
          span.text 日志分析
  .bg1
    .wrapper
      .title
        h2 FastPages 网页加速
        p 门户类网站+电子商务类网站+企业类网站+新闻类网站+娱乐/游戏类网站+证券类网站
      .product
        .box
          h3 产品功能
          ul
            li 静态页面、图片、Flash等的访问加速；
            li HTTPS应用支持；
            li 全球负载均衡系统，实现IP的精准定向和指向；
            li 提供遵循源站及与客户协商强制缓存等多种缓存策略；
            li 内容刷新；
            li 日志存储与下载。
        .box.last
          h3 产品优势
          ul
            li 先进的系统架构，高可靠的保障机制；
            li 提供专业的技术支持和完善的服务监控体系；
            li FastCache内存版缓存系统对高并发小文件提供更加出色的处理性能。
        .img
          img(src='', alt='')
  .bg2
    .wrapper
      .benefit
        h3 优质服务
        img(src='#{root_path}/images/products/services-bg.png', alt='')
        .detail
          div
            h4 数据报告
            ol
              li 不同纬度统计分析，日报、月报及服务质量评测报告；
              li 重大项目活动服务报告；
              li 客户行为数据挖掘分析。
          div
            h4 个性定制
            ol
              li 指定ISP带宽资源；
              li 地域化服务；
              li 区域访问控制；
              li 服务IP查询。
          div
            h4 安全增强
            ol
              li 分布式负载均衡访问；
              li 主备源热切换与多源轮询访问；
              li 冗余负载，支持流量突发。
          div
            h4 可靠保证
            ol
              li 抗DDos攻击；
              li 防劫持技术；
              li 防盗链技术；
              li 源站隐匿与源站监控。
          div
            h4 专业服务
            ol
              li 7*24*365全天候的技术支持；
              li 用户访问故障分析；
              li 客户监控，命中率、带宽、流量监控，订阅报警。
  .blank


