main#support.main-content
  .hero
    .bg
      h1 技术服务
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a.current(href='/a/service_guide/') 技术服务
      li
        a(href='/a/faq/') 常见问题
  .wrapper
    .title
      h2 服务指南
      div
          p
            | 北京快网向客户提供一流的云计算CDN加速服务，为客户提供快速、多渠道的技术支持和客户服务。我们有客户服务部专门负责供您咨询，提供解决方案。如果您遇到紧急的技术问题需要解决，我们有快网运维中心FastNOC帮您获得最快最全面的处理。FastNOC是北京快网7x24小时的全方面运维中心，由运维服务小组和专案小组组成，直达副总裁及总裁，负责处理全程客户技术支持，提供最快速的客户响应。
          p
            | 感谢您对北京快网的信任与支持，欢迎您使用Fastweb 云计算CDN加速服务！我们提供多种客户支持与服务渠道，您可以选择最方便的方式与我们联系。
    .list
      .box
        h3 在线电话即时支持
        div.f16
          p FastNOC运维中心 : 24小时服务电话随时解决您的问题
          ul
            li 电话: 86-010-8586 7657/1266/2411/0547转9
            li 传真: 86-010-8586 7657/7015/7095转2232
            li 邮件: support@fastweb.com.cn
            li MSN: support@fastweb.com.cn
            li Skype: support.fastweb.com.cn
            li 客户服务: 86-010-8586 7657转2219
      .box
        h3 客户专区
        div.f16
          p
            | 北京快网的客户专区FastPortal，是为方便客户了解和查看经过快网加速后，网站的访问状态而推出的一套后台管理系统，主要负责采集和汇总各个FastNode节点的日志记录信息，然后由中央处理系统加以整理和分析  最后通过网站进行发布。在客户专区中，您可以获得如下服务:
          ol
            li 流量统计查询服务: 包括各加速区域流量图、区域流量比例饼图、动静态加速 流量比例饼图、请求数据统计明细等。
            li 内容推送更新服务: 包括文件推送更新和目录推送更析。
            li 日志下载服务: 提供按天发布的可以直接下载访问日志。
            li 密码修改服务: 可以根据需要随时修改自己的登录密码，以加强对网站数据的保护。
          p
            | 您可以直接访问快网客户专区网址http://cs.fastweb.com.cn，输入快网为您提供的用户名及相应密码进入客户专区进行查看或操作。也可以通过访问我们公司网站，在右上角的登录或客户专区内登录进入客户专区。
  .blank
