main#cloudcdn.main-content
  .hero
    .bg
      h1 CloudCDN
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='/a/products/static/')
          span.icon-72.icon-fastpage
          span.text 网页加速
      li
        a(href='/a/products/live/')
          span.icon-72.icon-fastlive
          span.text 直播加速
      li
        a(href='/a/products/vod/')
          span.icon-72.icon-fastvod
          span.text 点播加速
      li
        a(href='/a/products/download/')
          span.icon-72.icon-fastdownload
          span.text 下载加速
      li
        a.current(href='/a/products/oversea/')
          span.icon-72.icon-fastoversea
          span.text 海外加速
      li
        a(href='/a/products/storage/')
          span.icon-72.icon-faststorage
          span.text 储存服务
      li
        a(href='/a/products/monitorin/')
          span.icon-72.icon-fastmonitor
          span.text 监控服务
      li
        a(href='/a/products/report/')
          span.icon-72.icon-fastreport
          span.text 日志分析
  .bg1
    .wrapper
      .title
        h2 FastOversea 海外加速
        p
          | FastOversea海外CDN加速系统，北京快网运用自身先进的CloudCDN 平台，将海外CDN网络与国内网络进行了完美对接，客户可以通过北京快网CloudCDN平台享受全球范围加速的服务。海外CDN加速系统运用Anycast 技术通过北美、欧洲、亚太三个anycast IP 为客户提供全球的加速服务。服务支持压缩、缓存时间重写等功能，众多需求可通过Partner Control Center 中自助完成。
        p
          | FastOversea 适合于对海外有加速需求的网站，对网站上各种类型内容，如html 页面、htm 页面、JPG 图片、GIF 图片、Flash、文件下载、流媒体文件等的加速访问。
      .product
        .img
          img(src='#{root_path}', alt='')
  .bg2
    .wrapper
      .product
        .box
          h3
            | 优化资源策略
            br
            | 加速网站访问
          ul
            li 国外CDN网络的合理对接
            li 高效的缓存技术
            li 最优化节点部署
            li 全局负载均衡调整
            li 分布式负载均衡访问
            li 支持流量突发
        .box.last
          h3
            | 提升网站访问速度
            br
            | 留住更多客户
          ul
            li 全球高效的访问效果
            li 避免海内外互通的瓶颈
            li 降低网络维护成本
  .blank


