main#idc.main-content
  .hero
    .bg
      h1 IDC
      p FASTER · BETTER
      hr
    .bannerbottom
  .wrapper
    .head
      h2 托管服务
      p 快网五星级高端 IDC 机房位于CBD商圈内，朝阳北路沿线，距离燕莎商圈10分钟车程，提供快捷、高质量的服务
  .bg1
    .wrapper
      .product
        .box
          h3 建筑规格
          ul
            li 结构能抗 8 级地震
            li 承重能力为800kg/㎡，电力室区域为1000kg/㎡
            li 机房内部采用架空防静电地板，四壁墙内设有防电磁
            li 干扰措施，并具备抵御强烈风暴、雷击的能力
            li 空间可根据用户的需要做灵活分隔及扩展。
        .box.last
          h3 网絡资源
          ul
            li 拥有与中国电信、中国联通、中国移动(铁通)、长城宽带等多家运营商的网络连接，万兆出口直连国家骨干网核心设备
      .product
        .box.long
          h3 安全设备
          ul
            li IDC 机房各出入口安装单向门禁设备，进门读卡，出门按钮，配备1 台四门门禁控制主机
            li IDC 机房各入口以及设备列架间安装固定摄像机，分别监控人员进出机房和在机房内的活动情况，摄像机采用彩色/黑白转换型
            li 每层机房新装16 路硬盘录像机和彩色显示器各1 台，负责管理本机房摄像机及存储图像，安装在本层新设监控室內
        .box.long
          h3 专业团队
          ul
            li
              | CCIE、CCNP 等国际认证的资深网络工程师，在网络、系统（NT、Linux、Unix）、安全等方面具有丰富的运行维护经验
            li 资深电力、空调等动力设施维护支持人员，具备多年大型动力设施维护经验
  .bg2
    .wrapper
      .benefit
        h3 优质服务
        img(src='#{root_path}/images/products/cutcosts-bg.png', alt='')
        .detail
          div
            | 1.   资深客户服务代表提供24x7服务受理
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
  .blank

.overlay

