
main#cloudcdn.main-content
  .hero
    .bg
      h1 CloudCDN
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='/a/products/static/')
          span.icon-72.icon-fastpage
          span.text 网页加速
      li
        a(href='/a/products/live/')
          span.icon-72.icon-fastlive
          span.text 直播加速
      li
        a(href='/a/products/vod/')
          span.icon-72.icon-fastvod
          span.text 点播加速
      li
        a(href='/a/products/download/')
          span.icon-72.icon-fastdownload
          span.text 下载加速
      li
        a(href='/a/products/oversea/')
          span.icon-72.icon-fastoversea
          span.text 海外加速
      li
        a(href='/a/products/storage/')
          span.icon-72.icon-faststorage
          span.text 储存服务
      li
        a.current(href='/a/products/monitorin/')
          span.icon-72.icon-fastmonitor
          span.text 监控服务
      li
        a(href='/a/products/report/')
          span.icon-72.icon-fastreport
          span.text 日志分析
  .bg1
    .wrapper
      .title
        h2 FastMonitoring 监控服务
        p FastMonitoring适用于对网站服务可靠性要求高的客户及相应业务。
        p
          | FastMonitoring 网站源服务器监控系统，平均每 5秒钟对源服务器进行一次探测，基本实现实时源服务器服务评估，发现源服务器负载过高，或者源服务器宕机时FastMonitoring 系统会立即触发警报，第一时间将警报传达给北京快网运维中心，运维中心立即对CloudCDN 平台下发特殊情况配置策略，保证用户在一定时间内仍可访问节点中的内容给处理源服务器突发问题容留出一定时间。另一方面，运维中心会及时以邮件或电话的方式通知客户，让客户可以及时处理源服务器的突发问题，最终保证用户的访问体验不受影响。
      .product
        .img
          img(src='', alt='')
  .bg2
    .wrapper
      .product
        .box
          h3 功能特点
          ul
            li 网站源服务器实时服务监控、性能监控
            li 突发情况报警机制
            li 突发情况应急配置策略
  .blank



