main#about.main-content
  .hero
    .bg
      h1 关于我们
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='#{root_path}a/about_us/company/') 公司介绍
      li
        a.current(href='#{root_path}a/about_us/honor/') 公司荣誉
      li
        a(href='#{root_path}a/about_us/corporate_culture/') 公司文化
      li
        a(href='#{root_path}a/about_us/contact_us/') 联络我们
  .wrapper
    .honor        
      .box
        .img
          img
        .txt
          h4 中国服务最佳提供商奖
          p 北京快网科技有限公司获2015年度中国CDN服务最佳提供商奖。数百家知名互联网企业参与了评选，其中包括联想，IBM等知名企业
      .box
        .img
          img
        .txt
          h4 德勤高科技、高成長中國 50 強
          p 2009-2010 北京快网连续三年通过德勤高科技、高成长中国50强项目客观、 公正、权威地甄选出了目前科技、传媒和电信行业高速成长的佼佼者。
      .box
        .img
          img
        .txt
          h4 中国最具投资价值企业
          p 2009-2010 北京快网连续三年通过德勤高科技、高成长中国50强项目客观、 公正、权威地甄选出了目前科技、传媒和电信行业高速成长的佼佼者。此奖项旨在表彰科技创新和高速成长取得优异成绩的企业。
      .box
        .img
          img
        .txt
          h4 第四届品牌中国
          p 2009-2010 北京快网连续三年通过德勤高科技、高成长中国50强项目客观、 公正、权威地甄选出了目前科技、传媒和电信行业高速成长的佼佼者。此奖项旨在表彰科技创新和高速成长取得优异成绩的企业。
      .box
        .img
          img
        .txt
          h4 高新技术企业
          p 2009-2010 北京快网连续三年通过德勤高科技、高成长中国50强项目客观、 公正、权威地甄选出了目前科技、传媒和电信行业高速成长的佼佼者。此奖项旨在表彰科技创新和高速成长取得优异成绩的企业。
      .box
        .img
          img
        .txt
          h4 中国 IDC 产业技术先锋
          p 2009-2010 北京快网连续三年通过德勤高科技、高成长中国50强项目客观、 公正、权威地甄选出了目前科技、传媒和电信行业高速成长的佼佼者。此奖项旨在表彰科技创新和高速成长取得优异成绩的企业。
  .blank