main#news.main-content
  .hero
    .bg
      h1 快网新闻
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a.current(href='/a/news/news_reports/') 媒体报导
      li
        a(href='/a/news/industry/') 行业新闻
  .wrapper
    .list        
      .box
        h3 
          a(href='/a/news/detail/') 牛盾云安全：业内领先无证书 https 安全加速服务上线
        div.f16
          p.time 24 / 12 / 2015
          p 
            | 在互联网数据安全问题层出不穷的今天，HTTPS功能的演进变得非常重要，那么HTTPS是如何保护用户上网安全的呢?其实我们每天访问的互联网连接是一个涉及众多设备及服务提供商的“接力”链条，明文信息会经过中间代理服务器、路由器、wifi热点、通信服务运营商等层层过关。( … )
      .box
        h3 
          a(href='/a/news/detail/') 牛盾云安全：业内领先无证书 https 安全加速服务上线
        div.f16
          p.time 24 / 12 / 2015
          p 
            | 在互联网数据安全问题层出不穷的今天，HTTPS功能的演进变得非常重要，那么HTTPS是如何保护用户上网安全的呢?其实我们每天访问的互联网连接是一个涉及众多设备及服务提供商的“接力”链条，明文信息会经过中间代理服务器、路由器、wifi热点、通信服务运营商等层层过关。( … )
      .box
        h3 
          a(href='/a/news/detail/') 牛盾云安全：业内领先无证书 https 安全加速服务上线
        div.f16
          p.time 24 / 12 / 2015
          p 
            | 在互联网数据安全问题层出不穷的今天，HTTPS功能的演进变得非常重要，那么HTTPS是如何保护用户上网安全的呢?其实我们每天访问的互联网连接是一个涉及众多设备及服务提供商的“接力”链条，明文信息会经过中间代理服务器、路由器、wifi热点、通信服务运营商等层层过关。( … )
      .box
        h3 
          a(href='/a/news/detail/') 牛盾云安全：业内领先无证书 https 安全加速服务上线
        div.f16
          p.time 24 / 12 / 2015
          p 
            | 在互联网数据安全问题层出不穷的今天，HTTPS功能的演进变得非常重要，那么HTTPS是如何保护用户上网安全的呢?其实我们每天访问的互联网连接是一个涉及众多设备及服务提供商的“接力”链条，明文信息会经过中间代理服务器、路由器、wifi热点、通信服务运营商等层层过关。( … )
      .box
        h3 
          a(href='/a/news/detail/') 牛盾云安全：业内领先无证书 https 安全加速服务上线
        div.f16
          p.time 24 / 12 / 2015
          p 
            | 在互联网数据安全问题层出不穷的今天，HTTPS功能的演进变得非常重要，那么HTTPS是如何保护用户上网安全的呢?其实我们每天访问的互联网连接是一个涉及众多设备及服务提供商的“接力”链条，明文信息会经过中间代理服务器、路由器、wifi热点、通信服务运营商等层层过关。( … )
      .box
        h3 
          a(href='/a/news/detail/') 牛盾云安全：业内领先无证书 https 安全加速服务上线
        div.f16
          p.time 24 / 12 / 2015
          p 
            | 在互联网数据安全问题层出不穷的今天，HTTPS功能的演进变得非常重要，那么HTTPS是如何保护用户上网安全的呢?其实我们每天访问的互联网连接是一个涉及众多设备及服务提供商的“接力”链条，明文信息会经过中间代理服务器、路由器、wifi热点、通信服务运营商等层层过关。( … )
      .box
        h3 
          a(href='/a/news/detail/') 牛盾云安全：业内领先无证书 https 安全加速服务上线
        div.f16
          p.time 24 / 12 / 2015
          p 
            | 在互联网数据安全问题层出不穷的今天，HTTPS功能的演进变得非常重要，那么HTTPS是如何保护用户上网安全的呢?其实我们每天访问的互联网连接是一个涉及众多设备及服务提供商的“接力”链条，明文信息会经过中间代理服务器、路由器、wifi热点、通信服务运营商等层层过关。( … )
  .blank