main.main-content
  .hero
    .bg.banner1
      h1 CDN自建方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a.current(href='/a/solution/YHCDN/')
          span.icon-72.icon-cdn-merge
          sapn.text 融合CDN
      li
        a(href='/a/solution/ZJCDN_NW/')
          span.icon-72.icon-cdn-inner-network
          sapn.text 内网自建CDN
      li
        a(href='/a/solution/ZJCDN_IDC/')
          span.icon-72.icon-cdn-idc-corp
          sapn.text IDC企业自建CDN
      li
        a(href='/a/solution/create_cdn/')
          span.icon-72.icon-cdn-self-build
          sapn.text 互联网企业自建
  .wrapper
    .title
      h2 融合CDN
      p
        | 随着互联网电视业务的蓬勃发展，广电及电信运营商也在逐步将现有DVB业务及IPTV业务整合，形成独具特色的DVB+OTT、IPTV+OTT业务方案，提升整体业务的竞争力。新兴业务需要全新的“融合CDN”网络架构承载，在全网全区域进行视频的智能分发。北京快网通过在IPTV、DVB及OTT领域的深耕，向广电及电信运营商提供贴合需求的融合CDN系统及网络搭建解决方案。助力运营商OTT业务的发展！
    .solution
      h3 解决方案特点
      p
        img(src='', alt='')
      p
        | 1. 与现有IPTV、DVB内容管理系统无缝对接，有效增强广电运营商的内容管控力度；
        br
        | 2. 多终端多功能业务支持，充分贴合现有用户观赏习惯及用户体验；
        br
        | 3. 丰富的管理功能，涵盖客户、设备、资源调度、配置、平台系统及内容管理；
        br
        | 4. 全web界面操作，提供诸多运维接口与客户系统快速对接；<br>
        br
        | 5. 完善的GSLB调度，可根据LDNS及用户终端IP进行精准用户调度。
    .benefit
      h3 方案优势
      img(src='/images/solution/advantage-bg.png', alt='')
      div
        | 1. FastCache是北京快网自主研发的高性能缓存系统，单台性能相较于第三方开源软件高3-8倍；
        br
        | 2. 模块化系统设计，可根据客户自身需求灵活选择功能模块，同时便于系统升级扩充，实现贴合用户的精细化组网需求；
        br
        | 3. 系统搭建前、中、后整个过程中，快网强大的专业技术团队，将全程提供技术支持；
        br
        | 4. 权限可一次交付，满足对私密信息的掌控权，保证了信息的绝对独立和不外流。
  .blank
.overlay
