
main.main-content
  .hero
    .bg.banner3
      h1 行业解决方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='/a/solution/game/')
          span.icon-72.icon-game
          sapn.text 游戏加速
      li
        a.current(href='/a/solution/video/')
          span.icon-72.icon-live
          sapn.text 互动直播加速
      li
        a(href='/a/solution/e_commerce/')
          span.icon-72.icon-ec
          sapn.text 电商加速
      li
        a(href='/a/solution/OTTTV/')
          span.icon-72.icon-ott
          sapn.text 互连网电视加速
      li
        a(href='/a/solution/ALL/')
          span.icon-72.icon-all-site
          sapn.text 全站加速
      li
        a(href='http://fwmob.fastweb.com.cn/', target='_blank')
          span.icon-72.icon-mobile
          sapn.text 移动互连网加速
  .wrapper
    .title
      h2 Show 互动直播加速
      p
        | All 全站加速解决方案 公司网站是公司在互联网上进行网站建设和形像宣传的平台，相当于一个企业的网络名片。每年，网站设计都在快速进步，流行的滚动页面、排除非必要设计元素、固定宽度的中心网站布局等等，每天几乎都有新的设计出现。 网站面临的难题：网站的流量可预测性低，常有流量突发或高峰负载等情况，还需保证用户的体验度，减少客户流失，并防备内容被盗用，保障网站的合法利益。
    .solution
      h3 解决方案
      p
        img(src='#{root_path}', alt='')
      p
        | 1. 支持RTMP、HLS等诸多传输协议的互动直播业务加速；
        br
        | 2. 高效协议转换适配各类用户终端；
        br
        | 3. 直播录制保留精彩瞬间；
        br
        | 4. 多样防盗链认证策略确保业务安全；
        br
        | 5. 深度数据分析为数据挖掘提供强有力支持；
        br
        | 6. 丰富资源储备轻松应对大规模突发访问。
    .benefit
      h3 客户收益
      img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
      div
        | 1. 提升互动直播加速效果，增强移动互联网用户满意度及粘合度；
        br
        | 2. 节省运营成本，大幅降低互动直播客户业务运营费用；
        br
        | 3. 提升互动直播业务访问可用性，为主播及用户提供稳定的访问服务；
        br
        | 4. 无缝兼容多终端多业务，降低源站数据流处理成本。
  .blank



