
main.main-content
  .hero
    .bg.banner3
      h1 行业解决方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='../e_commerce/')
          span.icon-56.icon-ec
          sapn.text 电商加速
      li
        a(href='../ALL/')
          span.icon-56.icon-all-site
          sapn.text 全站加速
      li
        a(href='../game/')
          span.icon-56.icon-game
          sapn.text 游戏加速
      li
        a.current(href='../video/')
          span.icon-56.icon-live
          sapn.text 互动直播加速
      li
        a(href='../OTTTV/')
          span.icon-56.icon-ott
          sapn.text 互连网电视加速
      li
        a(href='../Mobile/', target='_blank')
          span.icon-56.icon-mobile
          sapn.text 移动互连网加速
  .wrapper
    .title
      h2 BetterShow 互动直播加速解决方案
      p
        | 互动直播具备良好的用户互动性，逐渐受到了大众用户的追捧和喜爱。快网互动直播加速服务为BetterShow，可通过靠近用户的CDN边缘节点直接加速上传及下载直播流。CDN网内的协议优化及路径优化可保证直播流在CDN网内的高速稳定传输。
    .solution
      h3 解决方案
      .img
        img(src='#{root_path}images/solution/BetterShow.png', alt='')
      ol
        li 1. 支持RTMP、HLS等诸多传输协议的互动直播业务加速；
        li 2. 高效协议转换适配各类用户终端；
        li 3. 直播录制保留精彩瞬间；
        li 4. 多样防盗链认证策略确保业务安全；
        li 5. 深度数据分析为数据挖掘提供强有力支持；
        li 6. 丰富资源储备轻松应对大规模突发访问；
        li 7. 冷内容和大视频进行预缓存，增强视频流畅率。
    .benefit
      h3 客户收益
      img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
      ol
        li 1、提高网站访问的加载速度，降低网站的购买放弃率，大幅增加销售收入；
        li 2、无须为应对特殊日期购物而增加基础性投入，保证突发的访问效果；
        li 3、节省基础投入和运维成本；
        li 4、根据网民访问热点和时间的数据，协助网站分析用户行为；
  .blank
