extends _layouts/_default
block head
  - var root_path = '';
  include _layouts/_head
block content
  - var root_path = '';
  include _modules/_browsehappy
  include _modules/_navigationbar
  include _pages/_index
  include _layouts/_footer
block script
  - var root_path = '';
  include _layouts/_script
