
main#newdefend.main-content
  .hero
    .bg
      h1 牛盾云安全
      p FASTER · BETTER
      hr
    .bannerbottom
  .wrapper
    .head
      h2 安全无庸置疑・快速超乎想像
      p 防黑客、防网站 DDOS 攻击、防网站 CC 攻击、网站加速、高防智能 DNS
  .bg1
    .wrapper
      .product
        .box
          h3 产品功能
          ul
            li 全面雲防護：指紋識別、智能 WAF、高防 DNS 和數百 G 的流量清洗中心；完美结合从各个环节有效抵御各种攻击，全力保障您的网站安全。
            li 有效提升速度：遍布全国骨干网的加速节点和领先的页面优化技术，大幅降低网络延迟，提高加载速度。
            li 高防 DNS：秒级生效，提供智能解析，拥有非常精准的IP库，解析更快、更准确、每秒查询率达到千万级别防护。
            li 24 小時全面監控：牛盾云安全商用级别的高稳定性保障，全天侯值守数据中心，让您的网站坚如磐石。
        .box.last
          h3 产品优势
          ul
            li 拥有30+以上加速节点并且覆盖亚太地区，网络覆盖各大运营商、各大省市，并采用快网自主研发的缓存系统，效率/性能较其他第三方开源软件提升3-8倍
            li 采用智能分发、监控调度、负载均衡、宕机切换和独有的WAF、CC防御等安全防护措施来保证业务的高可用性，整体提升用户体验度
            li 实时数据分析系统，快速发现黑客攻击行为，便捷获取安全加速数据。
  .bg2
    .wrapper
      .benefit
        h3 优质服务
        img(src='#{root_path}/images/products/services-bg.png', alt='')
        .detail
          div
            h4 个性定制
            ol
              li 指定ISP带宽资源；
              li 地域化服务；
              li 区域访问控制；
              li 服务IP查询。
          div
            h4 安全增强
            ol
              li 分布式负载均衡访问；
              li 主备源热切换与多源轮询访问；
              li 冗余负载，支持流量突发。
          div
            h4 可靠保证
            ol
              li 抗DDos攻击；
              li 防劫持技术；
              li 防盗链技术；
              li 源站隐匿与源站监控。
          div
            h4 专业服务
            ol
              li 7*24*365全天候的技术支持；
              li 用户访问故障分析；
              li 客户监控，命中率、带宽、流量监控，订阅报警。
    .wrapper
      .partner
        h3 合作伙伴
        ul
          - for (var x = 1; x < 21; x++)
            li
              img(src='#{root_path}/images/case/#{x}.png', alt='')
        a.viewmore.ghost(href='https://www.newdefend.com/',brank='') 官方网站
  .blank



