
main.main-content
  .hero
    .bg.banner3
      h1 行业解决方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='/a/solution/game/')
          span.icon-72.icon-game
          sapn.text 游戏加速
      li
        a(href='/a/solution/video/')
          span.icon-72.icon-live
          sapn.text 互动直播加速
      li
        a(href='/a/solution/e_commerce/')
          span.icon-72.icon-ec
          sapn.text 电商加速
      li
        a.current(href='/a/solution/OTTTV/')
          span.icon-72.icon-ott
          sapn.text 互连网电视加速
      li
        a(href='/a/solution/ALL/')
          span.icon-72.icon-all-site
          sapn.text 全站加速
      li
        a(href='http://fwmob.fastweb.com.cn/', target='_blank')
          span.icon-72.icon-mobile
          sapn.text 移动互连网加速
  .wrapper
    .title
      h2 OTT 互联网电视加速解决方案
      p
        | 当前互联网进入新媒体时代，视频网络成为主流，视频内容在整个网络分发传输中占据绝对主导地位，并使得数据量大大提升。三网融合/OTT打破原有的网络传输界限，同时令视频终端呈现积极的多元化发展，网络、终端的灵活性也给用户提供了更多选择，包括各种个性化、互动化、社交化的观看方式。
    .solution
      h3 解决方案
      p
        img(src='#{root_path}', alt='')
      p
        | 1. 对不同的情况采取镜像方式或缓存方式进行服务，从而用最少的投资解决面临的问题，达到最好的用户体验；
        br
        br
        br
    .benefit
      h3 客户收益
      img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
      div
        | 1. OTT+CDN 助力网站节目传播，实现内容到所有屏幕的覆盖；
        br
        br
        br
  .blank

.overlay

