main#clouddiy.main-content
  .hero
    .bg
      h1 Cloud DIY
      p FASTER · BETTER
      hr
    .bannerbottom
  .wrapper
    .head
      h2 D.I.Y 加速
      p 成熟产品架构 + 8年以上运营经验 + 全程技术支持 + 平稳技术交接 + 权限一次交付
  .bg1
    .wrapper
      .product
        .box
          h3 产品功能
          ul
            li 提供缓存系统、调度系统、管理系统、监控系统等全套系统模块
            li 提供动静态、下载、视音频等加速模块
            li 灵活的合作模式，贴合客户精细组网需求
            li 提供系统前中后各阶段网络规划方案，专业技术团队
            li 全程提供技术支持
        .box.last
          h3 产品优势
          ul
            li 提供内存与硬盘版 FastCache 缓存系统，比开源Squid 系統性能高3-8倍
            li GSLB 精准调度，智能缓存和预分发相结合，实现用户就近快速访问
            li NOC 监控系统实现全网节点集中管理，业务和网络质量可视
  .bg2
    .wrapper
      .benefit
        h3 节省成本
        img(src='#{root_path}/images/products/cutcosts-bg.png', alt='')
        .detail
          div
            h4 开发成本
            p 拥有高性能缓存软件，拥有全部的知识产权并且对代码有着深刻的理解，无需为开源软件支付二次开发成本
          div
            h4 时间成本
            p 采用快网成熟的商业软件，具有快速部署的特点，可节省用户大量的时间成本
          div
            h4 硬件成本
            p FastCache缓存系统具备高性能，单台可处理5G以上的流量。使用FastCache可节约大量的硬件成本。
          div
            h4 运营成本
            p 节约服务器的数量，同时减少机位和电费等运营成本。可获得快网多年的CDN运营经验。
  .blank
.overlay
