
main#cloudcdn.main-content
  .hero
    .bg
      h1 CloudCDN
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='/a/products/static/')
          span.icon-72.icon-fastpage
          span.text 网页加速
      li
        a(href='/a/products/live/')
          span.icon-72.icon-fastlive
          span.text 直播加速
      li
        a(href='/a/products/vod/')
          span.icon-72.icon-fastvod
          span.text 点播加速
      li
        a(href='/a/products/download/')
          span.icon-72.icon-fastdownload
          span.text 下载加速
      li
        a(href='/a/products/oversea/')
          span.icon-72.icon-fastoversea
          span.text 海外加速
      li
        a(href='/a/products/storage/')
          span.icon-72.icon-faststorage
          span.text 储存服务
      li
        a(href='/a/products/monitorin/')
          span.icon-72.icon-fastmonitor
          span.text 监控服务
      li
        a.current(href='/a/products/report/')
          span.icon-72.icon-fastreport
          span.text 日志分析
  .bg1
    .wrapper
      .title
        h2 FastReport 日志分析服务
        p
          | FastReport深度分析报告技术通过对加速网站在各加速节点产生的访问日志及其它监测数据进行深度分析，从不同指标统计网站访问状况，为运营者提供必要的分析报告，从而提高网站运营质量。
      br
      br
      br
      br
  .bg2
    .wrapper
      .product
        .box
          h3 全面的统计和分析
          ul
            li 状态码分析；
            li UV统计、UA统计、TopURL分析；
            li 后缀流量成分分析、回源分析；
            li 大文件下载速度分析；
            li 搜索网站统计。
        .box.last
          h3
            | 精确掌握网站运营状
            br
            | 况，提高运营质量
          ul
            li 指导网站经营策略方向；
            li 掌握网站访问数据、流量分布；
            li 明晰频道/页面的排行分布；
            li 规划和优化网站资源结构。
  .blank

