main#cloudxns.main-content
  .hero
    .bg
      h1 CloudXNS
      p FASTER · BETTER
      hr
    .bannerbottom
  .wrapper
    .head
      h2 全方位智能解析
      p 多种需求 , 一种对策 , 您要的这儿都有
  .bg1
    .wrapper
      .product
        .box
          h3 产品功能
          ul
            li 智能 DNS : 一键添加邮箱纪录、四步搞定解析、六种扩展类型、30 多个节点、200 多条线路、0.5s 生效
            li 鹰眼监控：一键开启监控服务、7*24 分布式监控、实时智能监控、多种报警方式
            li 牛盾云安全：一键开启安全加速、网站 CDN 加速、云防火墙
            li 微域名管理：微站管理、帐户安全、客户服务、智能 DNS 快讯
        .box.last
          h3 产品优势
          ul
            li 採用私有增量 DNS 更新協議 , 解析配置閃電生效
            li 自动实时更新全球IPv4空间IP归属，国内精确到运营商+地级市，海外精确到国家
            li 全网最细线路划分，160个细分线路，37个地区分组，10个ISP分类，4级线路划分，1组60条私有线路
            li 最多支持多达60条的私有线路满足您的任何业务需求，还支持从模板导入私有线路免除维护线路IP库的麻烦
            li 采用私有DNS负载均衡技术，颠覆传统，能将A记录和CNAME记录按任意比例负载均衡，还支持各类基于http重定向跳转的负载均衡
            li 基于云架构的高防DNS集群系统，支持海量并发访问，同时自动识别攻击模式，第一时间阻击攻击，并具备域名锁定功能和账号异常通知，防止用户配置被前端黑客篡改
  .bg2
    .wrapper
      .benefit
        h3 优质服务
        img(src='#{root_path}/images/products/services-bg.png', alt='')
        .detail
          div
            h4 数据报告
            ol
              li 不同纬度统计分析，日报、月报及服务质量评测报告；
              li 重大项目活动服务报告；
              li 客户行为数据挖掘分析。
          div
            h4 个性定制
            ol
              li 指定ISP带宽资源；
              li 地域化服务；
              li 区域访问控制；
              li 服务IP查询。
          div
            h4 安全增强
            ol
              li 分布式负载均衡访问；
              li 主备源热切换与多源轮询访问；
              li 冗余负载，支持流量突发。
          div
            h4 可靠保证
            ol
              li 抗DDos攻击；
              li 防劫持技术；
              li 防盗链技术；
              li 源站隐匿与源站监控。
          div
            h4 专业服务
            ol
              li 7*24*365全天候的技术支持；
              li 用户访问故障分析；
              li 客户监控，命中率、带宽、流量监控，订阅报警。
      .partner
        .box
          h3 合作伙伴
          ul
            - for (var x = 1; x < 20; x++)
            li
              img(src='#{root_path}/images/case/#{x}.png', alt='')
          p
            a(href='#') 官方网站
  .blank


