extends ../../../_layouts/_products
block content
  - var root_path = '../../../';
  include ../../../_modules/_browsehappy
  include ../../../_modules/_navigationbar
  include _index
  include ../../../_layouts/_footer
block script
  - var root_path = '../../../';
  include ../../../_layouts/_script
