main#news.main-content
  .hero
    .bg
      h1 快网新闻
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a.current(href='#{root_path}a/news/news_reports/') 媒体报导
      li
        a(href='#{root_path}a/news/industry/') 行业新闻
  .wrapper
    .list        
      .box
        h3 牛盾云安全：业内领先无证书 https 安全加速服务上线
        div.f16
          p.time 24 / 12 / 2015
          .detail
            p
              | 在互联网数据安全问题层出不穷的今天，HTTPS功能的演进变得非常重要，那么HTTPS是如何保护用户上网安全的呢?其实我们每天访问的互联网连接是一个涉及众多设备及服务提供商的“接力”链条，明文信息会经过中间代理服务器、路由器、wifi热点、通信服务运营商等层层过关。
            p
              | 在传统HTTP模式下，大量的“中间环节”会成为灰色第三方的信息金矿，例如当网友使用了一些钓鱼性质的“免费wifi”并进行网站操作后，相关信息便会被窃取。但HTTPS却能通过认证用户和服务器，确保数据发送到正确的客户机和服务器。并且采用了加密数据的方式以防止数据中途被窃取，在整个信息握手的过程中维护数据的完整性，确保数据在传输过程中不被改变。
            p
              | 当下越来越多的网站都在给自己增加这个HTTPS“锁”。不过当网站选择使用CDN加速的时，则必须要把“锁”给到第三方服务机构，显然安全问题仍然得不到保障。面对如此尴尬的问题，各家企业都在积极优化自己的产品，以避开用户提交这把安全“锁”的窘境。现在用户真的无须为此烦恼了，由北京快网科技有限公司倾心打造的牛盾云安全平台，已经完美的实现了无证书HTTPS安全加速服务，并经过了严格安全审计，据悉这也是业内首家支持无证书HTTPS安全加速服务。
            p
              | 针对HTTPS在实现CDN加速时会存在一个安全隐患--需要将公钥和私钥给到CDN服务商用来实现加速服务这个隐患，在实现https网站使用“CDN”加速服务时，牛盾云安全无证书HTTPS产品提供了以下解决方案：
            ol
              li 
                | 用户对“牛盾云安全”节点发起正常访问请求，进行SSL身份认证，客户端会生成一个随机密钥并使用公钥对该密钥进行加密，加密完成后将其发送到牛盾云安全节点；
              li 
                | “牛盾云安全”节点通过SSL加密的方式将客户端发来的公钥加密随机密钥发送到私钥服务器，私钥服务器通过私钥解密获得随机密钥后将其返回到牛盾云安全节点；
              li 
                | 用户与牛盾云安全节点都使用随机密钥对信息内容进行加密，即实现数据加密传输并保证数据的完整性；
              li 
                | 当用户请求的内容在加速节点有缓存，加速节点会直接响应用户；若需要回源，牛盾云安全加速节点将到源站服务器请求获取内容；
            p
              | 截止发稿前据牛盾云安全相关负责人介绍，目前HTTPS无证书安全加速服务已经开启了限量体验活动。其中不乏中国军网，国防部官网、91快车、新东方等已经率先入驻平台开始测试。牛盾云安全HTTPS无证书安全加速服务，致力于成为适用于互联网全行业领先的平台级安全解决方案，尤其针对互联网电商、金融、支付、政企等安全级别要求较高的行业，HTTPS无证书安全加速服务不仅能整体提升用户访问时的速度体验感，同时有效的保护了网站的整体安全性。
            h5 关于牛盾云安全:
            p
              | 牛盾云安全平台隶属于北京快网科技有限公司旗下，本着以“零部署”、“零维护”、“云防御”的业内领先模式为用户提供一站式安全与加速解决方案。目前牛盾云安全在全国各地部署了数十个大型云计算中心节点，并建设了数百G的网络加速与安全防御带宽。在网站加速方面，牛盾云安全通过跨运营商的智能调度、页面优化、页面缓存、宕机监控及切换等技术，极大地提高网站访问速度，降低故障率，从而整体提升网站的用户体验。在网站安全方面，牛盾云安全通过各种安全技术，有效防范注入XSS，sql注入，蠕虫，木马，0day攻击，DDOS等各种网站安全问题，从而彻底解除了网站管理员的后顾之忧。
  .blank