
main.main-content
  .hero
    .bg.banner2
      h1 运营商解决方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='/a/solution/js/')
          span.icon-64.icon-operator-speed
          span.text 内容加速方案
      li
        a.current(href='/a/solution/yr/')
          span.icon-64.icon-operator-content
          span.text 内容引入方案
  .wrapper
    .title
      h2 运营商内容引入解决方案
      p
        | 随着中国通信基础运营市场的逐步开放，越来越多的企业进入到互联网数据业务基础运营商( ISP )领域中。新兴 ISP 运营商在和原有传统的 ISP 运营商展开竞争时，由于自身的互联网内容资源较少和宽带接入用户数量基数较小，导致该网络终端用户在跨网络访问时体验感极差且需要付出高昂的网间流量结算费用。由于网民的访问体验得不到保障，严重影响了新用户的发展速度。网间流量结算费用增加了企业成本，成为新业务发展的瓶颈。
    .solution
      h3 解决方案特点
      p
        img(src='', alt='')
      p
        | 1. 通过引入主动的内容管理层和全局负载均衡，并结合内容高速缓存（FastCache）等技术，在客户网内新建高速缓存CDN节点（FastCache），接入快网CDN网络中；
        br
        br
        br
    .solution
      h3 产品拓扑图
      p
        img(src='', alt='')
    .solution
      h3 功能架構图
      p
        img(src='', alt='')
    .benefit
      h3 方案优势
      img(src='/images/solution/advantage-bg.png', alt='')
      div
        | 1. 把快网CDN网内丰富的内容引入到网络，大幅度提升网民访问体验的同时有效缓解大量重复访问热点内容对骨干网和互联互通带宽占用，减少网间流量结算费用；
        br
        br
        br
  .blank

.overlay
script(src='/scripts/vendor/jquery-2.1.1.js')
script(src='/scripts/app.js')
