
main.main-content
  .hero
    .bg.banner2
      h1 运营商解决方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='../js/')
          span.icon-56.icon-operator-speed
          span.text 内容加速方案
      li
        a.current(href='../yr/')
          span.icon-64.icon-operator-content
          span.text 内容引入方案
  .wrapper
    .title
      h2 运营商内容引入解决方案
      p
        | 随着中国通信基础运营市场的逐步开放，越来越多的企业进入到互联网数据业务基础运营商( ISP )领域中。新兴 ISP 运营商在和原有传统的 ISP 运营商展开竞争时，由于自身的互联网内容资源较少和宽带接入用户数量基数较小，导致该网络终端用户在跨网络访问时体验感极差且需要付出高昂的网间流量结算费用。由于网民的访问体验得不到保障，严重影响了新用户的发展速度。网间流量结算费用增加了企业成本，成为新业务发展的瓶颈。
    .solution
      h3 解决方案特点
      ol
        li 1. 通过引入主动的内容管理层和全局负载均衡，并结合内容高速缓存（FastCache）等技术，在客户网内新建高速缓存CDN节点（FastCache），接入快网CDN网络中；
        li 2. 根据客户需求把快网CDN承载的600TB的签约客户互联网内容推送到客户网内节点，通过全局负载均衡系统（FastGSLB）把客户网内请求调度到新建CDN节点；
        li 3. 互联网应用加速通过对网络路由的优化和协议优化，提升网民对于游戏、电子商务等动态互联网应用的访问体验；
        li 4. 提供的报表系统为运营商提供与内容引入相关的域名解析系统、流量统计分析系统等增值服务。
    .solution
      h3 产品拓扑图
      p
        img(src='#{root_path}images/solution/yr_tb.png', alt='')
    .solution
      h3 功能架構图
      p
        img(src='#{root_path}images/solution/yr2_tb.png', alt='')
    .benefit
      h3 方案优势
      img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
      ol
        li 1. 把快网CDN网内丰富的内容引入到网络，大幅度提升网民访问体验的同时有效缓解大量重复访问热点内容对骨干网和互联互通带宽占用，减少网间流量结算费用；
        li 2. 拥有专业CDN厂商提供了高性能、高可靠性、适用性好的CDN节点；
        li 3. 快网专业的运维，节省客户支出成本和运维成本；
        li 4. 报表系统为客户提供完整的终端用户访问行为信息，可开展终端用户信息的深度挖掘，了解终端用户的访问行为习惯和需求，为运营方向提供依据。
  .blank


