main#cloudcache.main-content
  .hero
    .bg
      h1 Cloud Cache
      p FASTER · BETTER
      hr
    .bannerbottom
  .wrapper
    .head
      h2 正向缓存
      p 提升网内互联网用体验 + 缓解网络出口带宽压力 + 对内容进行有效管控
  .bg1
    .wrapper
      .product
        .box
          h3 产品功能
          ul
            li 网页对象缓存
            li 大文件缓存
            li 持久连接
            li 内容过滤
            li 协议优化
        .box.last
          h3 产品优势
          ul
            li 缓解网络出口带宽压力
            li 优化和管理网络内容
            li 提升用户体验
            li 降低网间结算成本、节约网络投资、提升用户ARPU值
  .bg2
    .wrapper
      .benefit
        h3 优质服务
        img(src='#{root_path}images/products/services-bg.png', alt='')
        .detail
          div
            h4 数据报告
            ol
              li 不同纬度统计分析，日报、月报及服务质量评测报告；
              li 重大项目活动服务报告；
              li 客户行为数据挖掘分析。
          div
            h4 个性定制
            ol
              li 指定ISP带宽资源；
              li 地域化服务；
              li 区域访问控制；
              li 服务IP查询。
          div
            h4 安全增强
            ol
              li 分布式负载均衡访问；
              li 主备源热切换与多源轮询访问；
              li 冗余负载，支持流量突发。
          div
            h4 可靠保证
            ol
              li 抗DDos攻击；
              li 防劫持技术；
              li 防盗链技术；
              li 源站隐匿与源站监控。
          div
            h4 专业服务
            ol
              li 7*24*365全天候的技术支持；
              li 用户访问故障分析；
              li 客户监控，命中率、带宽、流量监控，订阅报警。
  .blank
