header.main-header
  .header-inner
    a.logo(href='javascript:;')
      img(src='#{root_path}images/brand-logo.svg', alt='Logo')
    nav.nav
      //- Primary-nav
      ul.primary-nav
        include _partials/_cd-secondary-nav-01
        include _partials/_cd-secondary-nav-02
        include _partials/_cd-secondary-nav-03
        include _partials/_cd-secondary-nav-04
    //- fw-header-buttons
    include _partials/_utility-buttons
.header-space
