
main.main-content
  .hero
    .bg.banner3
      h1 行业解决方案
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='../e_commerce/')
          span.icon-56.icon-ec
          sapn.text 电商加速
      li
        a(href='../ALL/')
          span.icon-56.icon-all-site
          sapn.text 全站加速
      li
        a.current(href='../game/')
          span.icon-56.icon-game
          sapn.text 游戏加速
      li
        a(href='../video/')
          span.icon-56.icon-live
          sapn.text 互动直播加速
      li
        a(href='../OTTTV/')
          span.icon-56.icon-ott
          sapn.text 互连网电视加速
      li
        a(href='../Mobile/')
          span.icon-56.icon-mobile
          sapn.text 移动互连网加速
  .wrapper
    .title
      h2 BetterGame 游戏加速解决方案
      p
        | 现下游戏分为大型网络游戏、网络页面游戏、移动终端游戏等，并且从单一的游戏方向发展到社交+位置+移动(Solomo)游戏。游戏网站面临的问题：如何避免联网出现拥塞，服务器下载路径在连接过程中出现失败，保证游戏下载和游戏数据交互的流畅，保证用户体验将决定产品的市场潜力和用户的接受程度。
    .solution
      h3 解决方案
      p
        img(src='#{root_path}', alt='')
      ol
        li 1. 专业独立的图片、视频、客户端服务平台，提供全面一站式的加速服务；
        li 2. 按网站内容及传送方式的不同，提供针对性的加速方案，并对加速节点优化布局，解决网络瓶颈，保障用户体验的同时节省运营成本；
        li 3. 云计算CDN加速网络的雄厚资源储备和合理布局提供极大的带宽扩展性，加强对流量突发的应变；
        li 4. 游戏更新包含文件的快速同步技术，并进行MD5校验，保证游戏用户端文件的完整性和数据安全性。
    .benefit
      h3 客户收益
      img(src='#{root_path}/images/solution/advantage-bg.png', alt='')
      ol
        li 1、提高网站访问的加载速度，降低网站的购买放弃率，大幅增加销售收入；
        li 2、无须为应对特殊日期购物而增加基础性投入，保证突发的访问效果；
        li 3、节省基础投入和运维成本；
        li 4、根据网民访问热点和时间的数据，协助网站分析用户行为；
  .blank



