main#cloudcdn.main-content
  .hero
    .bg
      h1 CloudCDN
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='/a/products/static/')
          span.icon-56.icon-fastpage
          span.text 网页加速
      li
        a.current(href='/a/products/live/')
          span.icon-56.icon-fastlive
          span.text 直播加速
      li
        a(href='/a/products/vod/')
          span.icon-56.icon-fastvod
          span.text 点播加速
      li
        a(href='/a/products/download/')
          span.icon-56.icon-fastdownload
          span.text 下载加速
      li
        a(href='/a/products/oversea/')
          span.icon-56.icon-fastoversea
          span.text 海外加速
      li
        a(href='/a/products/storage/')
          span.icon-56.icon-faststorage
          span.text 储存服务
      li
        a(href='/a/products/monitorin/')
          span.icon-56.icon-fastmonitor
          span.text 监控服务
      li
        a(href='/a/products/report/')
          span.icon-56.icon-fastreport
          span.text 日志分析
  .bg1
    .wrapper
      .title
        h2 FastLIVE 直播加速
        p 电视直播类网站 + 远程教育类网站 + 访谈类网站 + 游戏直播网站 + 新闻类网站 + 体育类网站 + 音乐类网站
      .product
        //- .box
        //-   h3 产品功能
        //-   ul
        //-     li RTMP/HLS/HDS/HTTP+flv等视频直播加速
        //-     li 支持直播时移
        //-     li 支持码率自适应服务
        //-     li 提供编码器推流与转发推流两种源站模式
        //-     li 支持传输协议转换
        //-     li 支持多层分发加速架构
        //- .box.last
        //-   h3 产品优势
        //-   ul
        //-     li 强大的监控系统，多方位监控，实时报警
        //-     li 提供动态码率功能，满足不同接入带宽用户的高品质视频直播需求
        //-     li 超高冗余带宽有效承载集中式突发。
        //- .img
        //-   img(src='', alt='')
  .bg2
    .wrapper
      .benefit
        h3 优质服务
        img(src='#{root_path}/images/products/services-bg.png', alt='')
        .detail
          div
            h4 数据报告
            ol
              li 不同纬度统计分析
              li 日报、月报及服务质量测报告
              li 重大项目活动服务报告
          div
            h4 安全增强
            ol
              li 抗DDos攻击
              li 防劫持技术、防盗链技术
              li 源站隐匿与源站监控
          div
            h4 可靠保证
            ol
              li 分布式负载均衡访问
              li 主备源热切换
              li 冗余负载，支持流量突发
  .blank



