main#typical.main-content
  .hero
    .bg
      h1 典型客户
      p FASTER · BETTER
      hr
    .bannerbottom
  .wrapper
    .title
        h2 典型客户
    .clients
        ul
            li
                img(src="/images/logos/sina.jpg")
            li
                img(src="/images/logos/163.jpg")
            
            li
                img(src="/images/logos/ifeng.png" width="144" height="76")
                 
            li
                img(src="/images/logos/china.png")
            li
                img(src="/images/logos/aptech.png" width="144" height="76")
            li
                img(src="/images/logos/xdf.png" width="144" height="76")
                     
            li
                img(src="/images/logos/hujiang.jpg")
            li
                img(src="/images/logos/cisco.jpg")
            li
                img(src="/images/logos/huawei.jpg")
            li
                img(src="/images/logos/aodi.jpg")
            li
                img(src="/images/logos/byd.jpg")
            li
                img(src="/images/logos/yfjh.jpg")

            li
                img(src="/images/logos/pptv.jpg") 
            li
                img(src="/images/logos/CNTV.png" width="144" height="76")
            li
                img(src="/images/logos/imgotv.png" width="144" height="76")
            li
                img(src="/images/logos/letv.jpg")
            li
                img(src="/images/logos/kuwang.png")
            li
                img(src="/images/logos/v1.png")
            li
                img(src="/images/logos/yiting.jpg")
            li
                img(src="/images/logos/kuwo.jpg")
            li
                img(src="/images/logos/9sky.jpg")
            li
                img(src="/images/logos/kugou.jpg")
            li
                img(src="/images/logos/baomihua.jpg")
            li
                img(src="/images/logos/kumi.png")

            li
                img(src="/images/logos/suning.png" width="144" height="76")
            li
                img(src="/images/logos/ganji.png")
            li
                img(src="/images/logos/paixie.jpg")
            li
                img(src="/images/logos/55tuan.jpg")
            li
                img(src="/images/logos/fclub.png")
            li
                img(src="/images/logos/shopin.jpg")

            li
                img(src="/images/logos/snoa.jpg")
            li
                img(src="/images/logos/37w.png" width="144" height="76")
            li
                img(src="/images/logos/wushen.jpg")
            li
                img(src="/images/logos/duowan.jpg")
            li
                img(src="/images/logos/warcraftchina.jpg")
            li
                img(src="/images/logos/woniu1.jpg")
            li
                img(src="/images/logos/quyou.jpg")
            li
                img(src="/images/logos/starcraft.jpg")
            li
                img(src="/images/logos/hongxiu.jpg")

            li
                img(src="/images/logos/wandou.jpg")
            li
                img(src="/images/logos/imobile.jpg")
            li
                img(src="/images/logos/anzhi.jpg")
            li
                img(src="/images/logos/moji.png")
            li
                img(src="/images/logos/mumayi.jpg")
            li
                img(src="/images/logos/kingsoft.png")
            li
                img(src="/images/logos/360.jpg")
            li
                img(src="/images/logos/baofeng.jpg")
            li
                img(src="/images/logos/flashget.jpg")
  .blank