main#cloudcdn.main-content
  .hero
    .bg
      h1 CloudCDN
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='/a/products/static/')
          span.icon-56.icon-fastpage
          span.text 网页加速
      li
        a(href='/a/products/live/')
          span.icon-56.icon-fastlive
          span.text 直播加速
      li
        a(href='/a/products/vod/')
          span.icon-56.icon-fastvod
          span.text 点播加速
      li
        a(href='/a/products/download/')
          span.icon-56.icon-fastdownload
          span.text 下载加速
      li
        a(href='/a/products/oversea/')
          span.icon-56.icon-fastoversea
          span.text 海外加速
      li
        a.current(href='/a/products/storage/')
          span.icon-56.icon-faststorage
          span.text 储存服务
      li
        a(href='/a/products/monitorin/')
          span.icon-56.icon-fastmonitor
          span.text 监控服务
      li
        a(href='/a/products/report/')
          span.icon-56.icon-fastreport
          span.text 日志分析
  .bg1
    .wrapper
      .title
        h2 FastStorage 存储服务
        p
          | FastStorage帮助客户把大量的网站内容如各种大文件和视频等存储在北京快网的多个节点上，保障内容可用性和加快大文件传送速度，降低对源服务器的冲击和带宽要求，从而增强终端用户体验，提高CDN 性能和内容灾备能力。FastStorage 适用于对大量相对的"冷"内容访问, 大文件下载或大视频传输与备份，如音视频下载、游戏客户端、相册服务等。
      .product
        .img
          img(src='#{root_path}/images/products/storage.png', alt='')

  .bg2
    .wrapper
      .product
        .box
          h3
            | 大容量多层次
            br
            | 的存储服务
          ul
            li 支持多文件格式
            li 分布式多点异地存储
            li 海量存储，多梯度可扩充
            li 大文件超快速传输
            li “冷”“热”点文件分离
            li 提升“热”文件访问速度
        .box.last
          h3
            | 提升访问效率
            br
            | 与灾备并举
          ul
            li 节省网络和存储资源
            li 可用性保障加强
            li 减低源服务器访问压力
  .blank

