main#about.main-content
  .hero
    .bg
      h1 关于我们
      p FASTER · BETTER
      hr
    .bannerbottom
  .category
    ul
      li
        a(href='/a/about_us/company/') 公司介绍
      li
        a(href='/a/about_us/honor/') 公司荣誉
      li
        a(href='/a/about_us/corporate_culture/') 公司文化
      li
        a.current(href='/a/about_us/contact_us/') 联络我们
  .wrapper
    ul.maps-control
      li
        a.current 总部
      li
        a 上海
      li
        a 广州
      li
        a 深圳
      li
        a 武汉
    ul.maps-content
      li
        .fw-map-wrap#address-bj
        .fw-map-detail
          | 地址: 北京市朝阳区惠河南街1008-B四惠大厦2层西侧2010W-2031W
          br
          | 邮编: 100023
          br
          | 电话: (010) 85867657
          br
          | 传真: (010) 85867657 转 2232
          br
          | 销售热线: (010) 85867657 转 8、15901551087
          br
          | 销售E-mail: fwsales#fastweb.com.cn (如果您要给我们发送邮件，请将#改为@，再进行发送，谢谢！) 
      li(style='display:none')
        .fw-map-wrap#address-sh
        .fw-map-detail
          | 地址: 上海市闸北区江场西路160号美邦大厦812室
          br
          | 邮编: 200436
          br
          | 电话: 021-36338719/8720
          br
          | 销售热线: 18628695079
          br
          | 销售E-mail: fwsh#fastweb.com.cn (如果您要给我们发送邮件，请将#改为@，再进行发送，谢谢！)
      li(style='display:none')
        .fw-map-wrap#address-gz
        .fw-map-detail
          | 地址: 广州市天河区黄埔大道西平云路163号广电平云广场A塔4层
          br
          | 邮编: 510630
          br
          | 电话: 020-38335966 转 8075　18702180828
          br
          | 销售邮箱: fwgzsales#fastweb.com.cn(如果您要给我们发送邮件，请将#改为@，再进行发送，谢谢！)
      li(style='display:none')
        .fw-map-wrap#address-sz
        .fw-map-detail
          | 地址: 深圳市南山区桃园路田厦国际中心B座商务公寓1529室
          br
          | 邮编: 518052
          br
          | 电话: 0755-26975885　0755-26975881
          br
          | 传真: 0755-26975885
          br
          | 销售热线: 18603039025　0755-26975881
          br
          | 销售邮箱: fwszsales#fastweb.com.cn (如果您要给我们发送邮件，请将#改为@，再进行发送，谢谢！)
      li(style='display:none')
        .fw-map-wrap#address-wh
        .fw-map-detail
          | 地址: 武汉市光谷大道光谷金融港A11栋6楼
          br
          | 邮编: 430000
          br
          | 电话: 027-87889911
          br
          | 产品热线: 027-87889911 转 8007
          br
          | 运维中心: 400-811-0223
          br
          | 销售热线: 010-85867657 转 8
          br
          | 销售E-mail: fwsales#fastweb.com.cn (如果您要给我们发送邮件，请将#改为@，再进行发送，谢谢！)
    .extra
      .box
        h3 市场合作
        div
          p 电话 : (010) 85867657
          p 传真 : (010) 85867657 转 2232
          p 销售热线 : (010) 85867657 转 8、15901551087
          p 销售E-mail : fwsales@fastweb.com.cn
      .box
        h3 全方位 24 小时运帷中心
        div
          p 电话 : (010) 85867657
          p 传真 : (010) 85867657 转 2232
          p 销售热线 : (010) 85867657 转 8、15901551087
          p 销售E-mail : fwsales@fastweb.com.cn
  .blank